app/blocks/cases/cases.pug
mixin cases
    section.cases
        .container-fluid
            h1.title Кейсы по продвижению и рекламе в <br>интернете
            .tabs-container
                .tabs-list
                    .tabs-item.tabs-item--active(data-item="all") ВСЕ ПРОЕКТЫ
                    .tabs-item(data-item="b2c") B2C
                    .tabs-item(data-item="b2b") B2B
                .cases-list
                    .case(class="wow fadeInLeft" data-wow-delay="0.5s" data-id="b2c") 
                        a(href="").case__header(style="background-image: url(images/medical.jpeg)")
                            .case__name Кейс CMD - медцентр <br>и лаборатория
                            h6.case__title Как запустить медцентр и лабораторию, обеспечив  полную запись?
                        .case__body
                            .case__works
                                .case__work
                                    strong Что делали: 
                                    span дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.
                                .case__work
                                    strong Задачи: 
                                    span обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.
                                .case__work
                                    strong Когда работали: 
                                    span 2018 г. — настоящее время
                                .case__work
                                    strong Результаты: 
                                    span конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.
                            a(href="").tn-atom.tn-atom--project СМОТРЕТЬ ПОДРОБНЕЕ
                    .case(class="wow fadeInRight" data-wow-delay="0.5s" data-id="b2c") 
                        a(href="").case__header(style="background-image: url(images/medical.jpeg)")
                            .case__name Кейс CMD - медцентр <br>и лаборатория
                            h6.case__title Как запустить медцентр и лабораторию, обеспечив  полную запись?
                        .case__body
                            .case__works
                                .case__work
                                    strong Что делали: 
                                    span дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.
                                .case__work
                                    strong Задачи: 
                                    span обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.
                                .case__work
                                    strong Когда работали: 
                                    span 2018 г. — настоящее время
                                .case__work
                                    strong Результаты: 
                                    span конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.
                            a(href="").tn-atom.tn-atom--project СМОТРЕТЬ ПОДРОБНЕЕ
                    .case(class="wow fadeInLeft" data-wow-delay="0.8s" data-id="b2b") 
                        a(href="").case__header(style="background-image: url(images/medical.jpeg)")
                            .case__name Кейс CMD - медцентр <br>и лаборатория
                            h6.case__title Как запустить медцентр и лабораторию, обеспечив  полную запись?
                        .case__body
                            .case__works
                                .case__work
                                    strong Что делали: 
                                    span дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.
                                .case__work
                                    strong Задачи: 
                                    span обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.
                                .case__work
                                    strong Когда работали: 
                                    span 2018 г. — настоящее время
                                .case__work
                                    strong Результаты: 
                                    span конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.
                            a(href="").tn-atom.tn-atom--project СМОТРЕТЬ ПОДРОБНЕЕ
                    .case(class="wow fadeInRight" data-wow-delay="0.8s" data-id="b2b") 
                        a(href="").case__header(style="background-image: url(images/medical.jpeg)")
                            .case__name Кейс CMD - медцентр <br>и лаборатория
                            h6.case__title Как запустить медцентр и лабораторию, обеспечив  полную запись?
                        .case__body
                            .case__works
                                .case__work
                                    strong Что делали: 
                                    span дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.
                                .case__work
                                    strong Задачи: 
                                    span обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.
                                .case__work
                                    strong Когда работали: 
                                    span 2018 г. — настоящее время
                                .case__work
                                    strong Результаты: 
                                    span конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.
                            a(href="").tn-atom.tn-atom--project СМОТРЕТЬ ПОДРОБНЕЕ

dist/cases.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="Описание"/>
    <link rel="apple-touch-icon" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Кейсы</title>
    <link rel="stylesheet" href="style/libs.min.css"/>
    <link rel="stylesheet" href="style/main.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container-fluid">
        <div class="menu_open"> 
          <div class="menu_open__text">Меню</div>
          <button class="menu_open__button"><span></span><span></span><span></span></button>
        </div>
        <div class="header-container"><a class="logo" href=""></a>
          <nav class="menu"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a></nav><a class="h-phone" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
      </div>
    </header>
    <section class="cases">
      <div class="container-fluid">
        <h1 class="title">Кейсы по продвижению и рекламе в <br>интернете</h1>
        <div class="tabs-container">
          <div class="tabs-list">
            <div class="tabs-item tabs-item--active" data-item="all">ВСЕ ПРОЕКТЫ</div>
            <div class="tabs-item" data-item="b2c">B2C</div>
            <div class="tabs-item" data-item="b2b">B2B</div>
          </div>
          <div class="cases-list">
            <div class="case wow fadeInLeft" data-wow-delay="0.5s" data-id="b2c"> <a class="case__header" href="" style="background-image: url(images/medical.jpeg)">
                <div class="case__name">Кейс CMD - медцентр <br>и лаборатория</div>
                <h6 class="case__title">Как запустить медцентр и лабораторию, обеспечив  полную запись?</h6></a>
              <div class="case__body">
                <div class="case__works">
                  <div class="case__work"><strong>Что делали: </strong><span>дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.</span></div>
                  <div class="case__work"><strong>Задачи: </strong><span>обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.</span></div>
                  <div class="case__work"><strong>Когда работали: </strong><span>2018 г. — настоящее время</span></div>
                  <div class="case__work"><strong>Результаты: </strong><span>конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.</span></div>
                </div><a class="tn-atom tn-atom--project" href="">СМОТРЕТЬ ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="case wow fadeInRight" data-wow-delay="0.5s" data-id="b2c"> <a class="case__header" href="" style="background-image: url(images/medical.jpeg)">
                <div class="case__name">Кейс CMD - медцентр <br>и лаборатория</div>
                <h6 class="case__title">Как запустить медцентр и лабораторию, обеспечив  полную запись?</h6></a>
              <div class="case__body">
                <div class="case__works">
                  <div class="case__work"><strong>Что делали: </strong><span>дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.</span></div>
                  <div class="case__work"><strong>Задачи: </strong><span>обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.</span></div>
                  <div class="case__work"><strong>Когда работали: </strong><span>2018 г. — настоящее время</span></div>
                  <div class="case__work"><strong>Результаты: </strong><span>конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.</span></div>
                </div><a class="tn-atom tn-atom--project" href="">СМОТРЕТЬ ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="case wow fadeInLeft" data-wow-delay="0.8s" data-id="b2b"> <a class="case__header" href="" style="background-image: url(images/medical.jpeg)">
                <div class="case__name">Кейс CMD - медцентр <br>и лаборатория</div>
                <h6 class="case__title">Как запустить медцентр и лабораторию, обеспечив  полную запись?</h6></a>
              <div class="case__body">
                <div class="case__works">
                  <div class="case__work"><strong>Что делали: </strong><span>дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.</span></div>
                  <div class="case__work"><strong>Задачи: </strong><span>обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.</span></div>
                  <div class="case__work"><strong>Когда работали: </strong><span>2018 г. — настоящее время</span></div>
                  <div class="case__work"><strong>Результаты: </strong><span>конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.</span></div>
                </div><a class="tn-atom tn-atom--project" href="">СМОТРЕТЬ ПОДРОБНЕЕ</a>
              </div>
            </div>
            <div class="case wow fadeInRight" data-wow-delay="0.8s" data-id="b2b"> <a class="case__header" href="" style="background-image: url(images/medical.jpeg)">
                <div class="case__name">Кейс CMD - медцентр <br>и лаборатория</div>
                <h6 class="case__title">Как запустить медцентр и лабораторию, обеспечив  полную запись?</h6></a>
              <div class="case__body">
                <div class="case__works">
                  <div class="case__work"><strong>Что делали: </strong><span>дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.</span></div>
                  <div class="case__work"><strong>Задачи: </strong><span>обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.</span></div>
                  <div class="case__work"><strong>Когда работали: </strong><span>2018 г. — настоящее время</span></div>
                  <div class="case__work"><strong>Результаты: </strong><span>конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.</span></div>
                </div><a class="tn-atom tn-atom--project" href="">СМОТРЕТЬ ПОДРОБНЕЕ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container-fluid">
        <div class="footer-container"><a class="logo" href=""><img src="images/logo.svg" alt=""/></a>
          <nav class="menu menu--footer"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a><a class="menu__link" href="">«Под ключ»</a></nav><a class="h-phone h-phone--strong" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
        <div class="footer-info">
          <div class="company-info">© 2018 <br>ИП Маслов Дмитрий Валерьевич<br>ОГРНИП 314503420200018<br>г. Москва, ул. Южнопортовая, 5c7</div>
          <div class="f-i-right"><a class="footer-email" href="mailto:customers@web-beri.ru">customers@web-beri.ru</a><a class="politic-footer" href="">Пользовательское соглашение</a></div>
        </div>
      </div>
    </footer>
    <script src="js/libs.min.js"></script>
    <script src="js/script.js">       </script>
  </body>
</html>
