app/blocks/blog/blog.pug
mixin blog
    section.blog-block
        .container-fluid
            h1.title Блог об интернет маркетинге
            .blog-list
                .row
                    .col-lg-4
                        .blog
                            img(src="images/12.jpg", alt="")
                            .blog__content
                                .blog__title Играй против рынка – забей на правила
                                p Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.
                                a(href="").blog__link Читать далее
                    .col-lg-4
                        .blog
                            img(src="images/13.jpg", alt="")
                            .blog__content
                                .blog__title Как преуспеть в социальных сетях
                                p Сегодня речь пойдет о социальных сетях. <br>Посредственность – основное слово, которым я могу описать 99 % происходящего в социальных сетях
                                a(href="").blog__link Читать далее
                    .col-lg-4
                        .blog
                            img(src="images/14.jpg", alt="")
                            .blog__content
                                .blog__title «Упакуйся» или уйди с рынка! Почему это так важно?
                                p В глазах вашего потенциального клиента вы такой же, как другие; вы ничем не отличаетесь от своих конкурентов. И это плохо.
                                a(href="").blog__link Читать далее
                    .col-lg-4
                        .blog
                            img(src="images/12.jpg", alt="")
                            .blog__content
                                .blog__title Играй против рынка – забей на правила
                                p Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.
                                a(href="").blog__link Читать далее
                    .col-lg-4
                        .blog
                            img(src="images/12.jpg", alt="")
                            .blog__content
                                .blog__title Играй против рынка – забей на правила
                                p Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.
                                a(href="").blog__link Читать далее
                    .col-lg-4
                        .blog
                            img(src="images/12.jpg", alt="")
                            .blog__content
                                .blog__title Играй против рынка – забей на правила
                                p Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.
                                a(href="").blog__link Читать далее

app/blog.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="Описание"/>
    <link rel="apple-touch-icon" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Кейсы</title>
    <link rel="stylesheet" href="style/libs.min.css"/>
    <link rel="stylesheet" href="style/main.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container-fluid">
        <div class="menu_open"> 
          <div class="menu_open__text">Меню</div>
          <button class="menu_open__button"><span></span><span></span><span></span></button>
        </div>
        <div class="header-container"><a class="logo" href=""></a>
          <nav class="menu"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a></nav><a class="h-phone" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
      </div>
    </header>
    <section class="blog-block">
      <div class="container-fluid">
        <h1 class="title">Блог об интернет маркетинге</h1>
        <div class="blog-list">
          <div class="row">
            <div class="col-lg-4">
              <div class="blog"><img src="images/12.jpg" alt=""/>
                <div class="blog__content">
                  <div class="blog__title">Играй против рынка – забей на правила</div>
                  <p>Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.</p><a class="blog__link" href="">Читать далее</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="blog"><img src="images/13.jpg" alt=""/>
                <div class="blog__content">
                  <div class="blog__title">Как преуспеть в социальных сетях</div>
                  <p>Сегодня речь пойдет о социальных сетях. <br>Посредственность – основное слово, которым я могу описать 99 % происходящего в социальных сетях</p><a class="blog__link" href="">Читать далее</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="blog"><img src="images/14.jpg" alt=""/>
                <div class="blog__content">
                  <div class="blog__title">«Упакуйся» или уйди с рынка! Почему это так важно?</div>
                  <p>В глазах вашего потенциального клиента вы такой же, как другие; вы ничем не отличаетесь от своих конкурентов. И это плохо.</p><a class="blog__link" href="">Читать далее</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="blog"><img src="images/12.jpg" alt=""/>
                <div class="blog__content">
                  <div class="blog__title">Играй против рынка – забей на правила</div>
                  <p>Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.</p><a class="blog__link" href="">Читать далее</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="blog"><img src="images/12.jpg" alt=""/>
                <div class="blog__content">
                  <div class="blog__title">Играй против рынка – забей на правила</div>
                  <p>Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.</p><a class="blog__link" href="">Читать далее</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="blog"><img src="images/12.jpg" alt=""/>
                <div class="blog__content">
                  <div class="blog__title">Играй против рынка – забей на правила</div>
                  <p>Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.</p><a class="blog__link" href="">Читать далее</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
