app/page/blog-page.pug
extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/cases/cases.pug
include ../blocks/blog/blog.pug


block title
    +head('Кейсы')
block pagecontent
    +header
    section.block-page
        .container-fluid
            .row
                .offset-md-1.col-md-10
                    h1.title Играй против рынка – забей на правила
                    .block-page__img
                        img(src="images/12.jpg", alt="")
                    p Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.
                    p Старожилы говорят нам: «Да вы ничего не знаете, я уже 10 лет на этом рынке!». Их незаинтересованный взгляд начинает меняться, когда они видят результаты нестандартных действий. Они удивляются, как это сработало, и, в конце концов, укоряют себя за то, что это придумали не они.
                    p Но все очень просто: 
                        strong надо играть против рынка. 
                        | Здесь все используют одинаковые методы и подходы, глядя друг на друга; у них замыливается глаз, а в сознании вырастают рамки. Все начинают толкаться в одном «коридоре»: продуктовые решения, реклама, общение с клиентами, сервис и т.д. И, естественно, маркетинг тоже у всех одинаков: одни и те же каналы привлечения клиентов, форматы рекламы, предложения, скидки. Порой конкуренты отличаются только названиями и цветами бренда, а все новое встречается ими с недоверием.
                    p Сделать что-то новое – значит пойти вперед, пойти в атаку на конкурентов, сомневающихся клиентов и нишу в целом. Вероятность выиграть тут гораздо выше, чем проиграть, потому как вернуться в прежнее русло можно всегда, а стать полноводной рекой – нет.
                    p Как показывает опыт, самый рабочий способ – это посмотреть, как работает маркетинг у основной части конкурентов, и сделать наоборот. Клиент приобрел «слепоту» от пресной, одинаковой рекламы, и даже разговор с тещей о политике покажется ему более интересным, чем реклама от 80 % участников рынка.
                    p И тут не надо бояться экспериментировать. Если ваши конкуренты пишут в контекстной и таргетированной рекламе: «Приходите к нам, у нас скидки», можете смело писать: «Не приходите к нам, скидок не дадим». Пробегая взглядом по сотням рекламных объявлений, которые, как чайки из мультика «В поисках Немо», кричат: «Дай!», потребитель видит что-то иное и сразу фокусируется на том, что выделяется из общей массы, что ему непонятно, что он хочет для себя объяснить. И вот клиент уже готов слушать. А наша задача как раз – выкроить внимание, иметь возможность сказать слово. Если вслед за этим идет нестандартное предложение, у клиента возникает к нему неподдельный интерес.
                    p А мы продолжаем подкидывать дров: аргументируем наше предложение, сравниваем себя с конкурентами, ведем откровенный диалог – и все это происходит в режиме онлайн: на сайте, в соцсетях, в догоняющей рекламе, в email-письмах, мессенджерах… Клиент закручивается в нашей воронке продаж, и мы «закрываем» его. Мы делаем результат.
                    a(href="").read_also
                        strong Читайте также:
                        span «Упакуйся» или уйди с рынка! Почему это так важно?
    script(src="js/libs.min.js")
    script(src="js/script.js")

dist/blog-page.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="Описание"/>
    <link rel="apple-touch-icon" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Кейсы</title>
    <link rel="stylesheet" href="style/libs.min.css"/>
    <link rel="stylesheet" href="style/main.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container-fluid">
        <div class="menu_open"> 
          <div class="menu_open__text">Меню</div>
          <button class="menu_open__button"><span></span><span></span><span></span></button>
        </div>
        <div class="header-container"><a class="logo" href=""></a>
          <nav class="menu"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a></nav><a class="h-phone" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
      </div>
    </header>
    <section class="block-page">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-md-1 col-md-10">
            <h1 class="title">Играй против рынка – забей на правила</h1>
            <div class="block-page__img"><img src="images/12.jpg" alt=""></div>
            <p>Приходя в новую для себя нишу, мы видим ее не так, как люди, на чьих глазах она росла. Для них все выглядит как должное, а для нас – немного странно.</p>
            <p>Старожилы говорят нам: «Да вы ничего не знаете, я уже 10 лет на этом рынке!». Их незаинтересованный взгляд начинает меняться, когда они видят результаты нестандартных действий. Они удивляются, как это сработало, и, в конце концов, укоряют себя за то, что это придумали не они.</p>
            <p>Но все очень просто: <strong>надо играть против рынка. </strong>Здесь все используют одинаковые методы и подходы, глядя друг на друга; у них замыливается глаз, а в сознании вырастают рамки. Все начинают толкаться в одном «коридоре»: продуктовые решения, реклама, общение с клиентами, сервис и т.д. И, естественно, маркетинг тоже у всех одинаков: одни и те же каналы привлечения клиентов, форматы рекламы, предложения, скидки. Порой конкуренты отличаются только названиями и цветами бренда, а все новое встречается ими с недоверием.</p>
            <p>Сделать что-то новое – значит пойти вперед, пойти в атаку на конкурентов, сомневающихся клиентов и нишу в целом. Вероятность выиграть тут гораздо выше, чем проиграть, потому как вернуться в прежнее русло можно всегда, а стать полноводной рекой – нет.</p>
            <p>Как показывает опыт, самый рабочий способ – это посмотреть, как работает маркетинг у основной части конкурентов, и сделать наоборот. Клиент приобрел «слепоту» от пресной, одинаковой рекламы, и даже разговор с тещей о политике покажется ему более интересным, чем реклама от 80 % участников рынка.</p>
            <p>И тут не надо бояться экспериментировать. Если ваши конкуренты пишут в контекстной и таргетированной рекламе: «Приходите к нам, у нас скидки», можете смело писать: «Не приходите к нам, скидок не дадим». Пробегая взглядом по сотням рекламных объявлений, которые, как чайки из мультика «В поисках Немо», кричат: «Дай!», потребитель видит что-то иное и сразу фокусируется на том, что выделяется из общей массы, что ему непонятно, что он хочет для себя объяснить. И вот клиент уже готов слушать. А наша задача как раз – выкроить внимание, иметь возможность сказать слово. Если вслед за этим идет нестандартное предложение, у клиента возникает к нему неподдельный интерес.</p>
            <p>А мы продолжаем подкидывать дров: аргументируем наше предложение, сравниваем себя с конкурентами, ведем откровенный диалог – и все это происходит в режиме онлайн: на сайте, в соцсетях, в догоняющей рекламе, в email-письмах, мессенджерах… Клиент закручивается в нашей воронке продаж, и мы «закрываем» его. Мы делаем результат.</p><a class="read_also" href=""><strong>Читайте также:</strong><span>«Упакуйся» или уйди с рынка! Почему это так важно?</span></a>
          </div>
        </div>
      </div>
    </section>
    <script src="js/libs.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
