app/case-1.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="Описание"/>
    <link rel="apple-touch-icon" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Кейс CMD. Разработка сайта, продвижение и реклама.</title>
    <link rel="stylesheet" href="style/libs.min.css"/>
    <link rel="stylesheet" href="style/main.css"/>
  </head>
  <body>
    <div class="case-images-top" style="background-image: url(images/banner2ok.jpg)"></div>
    <div class="header-case">
      <header class="header">
        <div class="container-fluid">
          <div class="menu_open"> 
            <div class="menu_open__text">Меню</div>
            <button class="menu_open__button"><span></span><span></span><span></span></button>
          </div>
          <div class="header-container"><a class="logo" href=""></a>
            <nav class="menu"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a></nav><a class="h-phone" href="tel:+74996477892">+7 (499) 647-78-92</a>
          </div>
        </div>
      </header>
      <div class="header-case__content">
        <h1 class="case-title">Кейс CMD. Разработка сайта, <br>продвижение и реклама.</h1>
        <div class="case-description">Подробный кейс с результатами. Аналитика ниши, выбор стратегий, разработка сайта, запуск рекламы и продвижение.</div>
      </div>
      <div class="arrow"></div>
    </div>
    <section class="case-content">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-md-1 col-md-10">
            <div class="wow fadeInLeft" data-wow-delay="0.8s"> 
              <h6 class="case-subtitle">Отправная точка и задачи</h6>
              <p>Клиника ЦМД в Чехове запускалась с нуля. Нам надо было привлечь пациентов в клинику и обеспечить максимальную запись. Мы конкурировали за аудиторию с медцентрами, которые уже зарекомендовали себя на рынке. Мы претендовали на часть их аудитории. Стояла задача привлечь внимание пациентов и заслужить их доверие.</p>
            </div>
            <div class="case-list-img row">
              <div class="col-md-4"><img src="images/open1.jpg" alt=""></div>
              <div class="col-md-4"><img src="images/open2.jpg" alt=""></div>
              <div class="col-md-4"><img src="images/open3.jpg" alt=""></div>
            </div>
            <div class="wow fadeInLeft" data-wow-delay="0.8s">  <strong>Что нужно сделать:</strong>
              <ul>
                <li>проанализировать услуги, аудиторию и конкурентов;</li>
                <li>упаковать услугу красиво и с конкурентными преимуществами;</li>
                <li>создать эффективный сайт;</li>
                <li>разработать рекламные стратегии;</li>
                <li>подготовить рекламные предложения и объявления;</li>
                <li>запустить рекламу в Яндекс Директ и Google Ads;</li>
                <li>сделать оптимизацию сайта и подробный план продвижения;</li>
                <li>настроить системы аналитики и управления рентабельностью;</li>
              </ul>
              <p> <strong>Основная проблема </strong>рекламы для медицинских центров: низкая конверсия (0,5%-1%, т.е. 1 из 100 посетителей становится клиентом) и высокая плата за клик (в районе 30 руб). Т.о. стоимость одного клиента выходит:<br>30 руб Х 100 переходов = <strong>3000 руб за одного клиента. Это дорого.</strong></p>
              <p>Мы можем повлиять в основном на конверсию. Это и есть основная задача рекламы и сайта.</p>
            </div>
            <div class="case-numbers">01</div>
            <div class="wow fadeInLeft" data-wow-delay="0.8s"> 
              <h6 class="case-subtitle">Анализ конкурентов и целевой аудитории:</h6>
              <p>Мы начали с того, что просмотрели сайты других диагностических лабораторий и медицинских центров. И обнаружили две основные проблемы:</p>
              <p> <strong>1. Все сайты медцентров практически одинаковые</strong>- Может быть с точки зрения дизайна и интерфейса разница есть, но с точки зрения контента и смыслов разницы нет.</p>
              <p> <strong>2. Сайты медицинских центров информационные</strong>- Сайты не решают проблемы пациентов. Не разбирают их страхи, связанные с посещением врачей и процедур, не работают с их сомнениями при выборе между медцентрами.</p>
            </div>
            <div class="case-list-img row">
              <div class="col-md-4"><img src="images/open1.jpg" alt=""></div>
              <div class="col-md-4"><img src="images/open2.jpg" alt=""></div>
              <div class="col-md-4"><img src="images/open3.jpg" alt=""></div>
            </div>
            <div class="wow fadeInLeft" data-wow-delay="0.5s">                             
              <p>Мы сделали выборку из пациентов другой клиники CMD и позвонили им с рядом вопросов. Как мы и предполагали большинство вопросов остаются без ответа. У пациентов есть внутренние страхи, которые можно разделить на 2 категории: "Болезненны ли процедуры?", "Насколько защищена информация с результатами анализов?". Также мы выявили несколько популярных сомнений: "Компетенция врачей", "Стоимость процедур", "Точность результатов анализов", "Дополнительные траты", "Оправданность назначенных процедур".</p>
              <p>Мы связались с врачами и расспросили их о том, что на их взгляд важно для пациентов. А также о компетенциях каждого врача, образовании, курсах повышении квалификации, рабочем стаже и медицинском оборудовании.</p>
              <p>Т.о. нам удалось собрать рабочий материал. Мы поняли, на какие вопросы пациенты хотят получать ответы сразу, а не на стойке администраторов. Что их тревожит, какие у них сомнения. Какие критерия определяют их выбор, формируют их решения. При этом мы собрали полный портрет ЦА, разделили его на несколько групп по задачам и характеристикам. И отправились упаковывать услуги, делать офферы (предложения) и разрабатывать сайт...</p>
            </div>
            <div class="case-numbers">02</div>
            <div class="wow fadeInLeft" data-wow-delay="0.8s">                         
              <h6 class="case-subtitle">Упаковка и фирменный стиль</h6>
              <p>Упаковка и фирменный стильИсходя из анализа аудитории, мы решили, что основой нашего сайта будут ответы на вопросы наших будущих пациентов. Мы не будем давать справочную информацию, только смыслы. Наша задача ответить на все вопросы пациента, построить с ним диалог. Показать, что мы знаем о его сомнениях. Его реакция должна быть такая: "Тут есть все, что меня интересовало. Это то, что мне надо!"</p>
              <p>Для фирменного стиля было решено выбрать основные цвета бренда. Акцент сделали на смыслах. Задача дизайна: провести пользователя по заранее спланированному сценарию и разобрать его вопросы и проблему выбора.</p>
              <p>Мы собрали набор конкурентных преимуществ, выбирая подходящие для запросов и услуг.</p>
            </div>
            <div class="case-numbers">03</div>
            <div class="wow fadeInLeft" data-wow-delay="0.8s">                         
              <h6 class="case-subtitle">Сайт. Медицинские услуги.</h6>
              <p>Итак, мы имеем данные по аудитории: портрет и группы. Мы знаем, что волнует пациентов, что им нужно, на какие вопросы они не получают ответы, на что обращают внимание при выборе медцентра. Мы разработали пользовательский сценарий и приступили к созданию сайта.</p>
              <p>Сайт может быть красивый и не красивый, понятный и сложный, с большим или малым объемом текста. Это все индивидуально. Единственная универсальная оценка сайта - конверсия в лид. И наша задача состояла в том, чтобы этот параметр был максимально высоким, чтобы сайт был не визиткой, а рабочим бизнес инструментом.</p>
              <p><strong>Задача сайта: приводить максимум клиентов за небольшую стоимость.</strong></p>
              <p>Ниже слайдер с нашими решениями по сайту и их обоснованиями. В этой части приведены стандартные направления медицинской деятельности. Полистайте фото, прочитайте описание и вы найдете для себя много полезного.</p>
              <p><strong>Листайте >></strong></p>
            </div>
            <div class="case-slider">
              <div class="swiper-container case-slider-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <div class="case-slider__title">Гинекология</div>
                      <p>Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <div class="case-slider__title">Гинекология</div>
                      <p>Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <div class="case-slider__title">Гинекология</div>
                      <p>Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <div class="case-slider__title">Гинекология</div>
                      <p>Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <div class="case-slider__title">Гинекология</div>
                      <p>Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.                                                                                                                                                </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div class="wow fadeInLeft" data-wow-delay="0.8s"> 
              <h6 class="case-subtitle">Сайт. Медицинские анализы</h6>
              <p>Центральный офис CMD предоставил нам информацию о работе своей лаборатории. Мы поняли, что за всем этим стоит сложный процесс и научный подход: институт, профессионалы своего дела, дорогостоящее и точное оборудование, отлаженные процессы. Так почему бы не рассказать об этом нашим клиентам?                                        </p>
              <p><strong>Листайте >></strong></p>
            </div>
            <div class="case-slider">
              <div class="swiper-container case-slider-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <div class="case-slider__title">Гинекология</div>
                      <p>Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <div class="case-slider__title">Гинекология</div>
                      <p>Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <div class="case-slider__title">Гинекология</div>
                      <p>Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <div class="case-slider__title">Гинекология</div>
                      <p>Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <div class="case-slider__title">Гинекология</div>
                      <p>Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.                                                                                                                                                </p>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div class="link-client">Ссылка на сайт <a href="">CMD Чехов</a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="case-form">
      <div class="container-fluid">           
        <h3 class="b-title wow fadeInUp" data-wow-delay="0.5s"> Запросить подробный план и расчет бюджета на привлечения новых пациентов</h3>
        <div class="b-title_desc">Мы пришлем вам в Whats'App ссылки на кейсы нашей команды и договоримся о Skype-презентации и разборе ваших задач</div>
        <form class="wow fadeInUp b-form" action="file" data-wow-delay="0.5s">
          <input class="b-form__input" type="text" placeholder="Как вас зовут">
          <input class="b-form__input" type="tel" placeholder="Номер телефона">
          <input class="b-form__input" type="email" placeholder="Ваш e-mail">
          <button class="b-form__button">Получить ссылки</button>
        </form>
        <div class="politic">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c <a href="">Политикой Конфиденциальности</a></div>
      </div>
    </section>
    <section class="case-content case-content--continuation">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-md-1 col-md-10">
            <div class="case-numbers">04</div>
            <div class="wow fadeInLeft" data-wow-delay="0.8s"> 
              <h6 class="case-subtitle">Маркетинговая стратегия и реклама</h6>
              <p>Для начала мы разработали офферы (рекламные предложения) на основании полученных данных от пациентов. В рекламе мы оперируем только важной информацией, говорим просто и с цифрами. Накопив достаточные данные о целевой аудитории, мы выработали несколько стратегий привлечения пациентов.</p>
              <p><strong>Контекстная реклама</strong></p>
              <p>
                1. Мы собрали запросы по всем видам услуг в нашей клинике. Запросы по врачам, процедурам, болезням и конкурентам. <br>2. Проанализировали рекламу конкурентов, исключили возможные пересечения по рекламным предложениям.<br>
                3. На основании накопленных данных создали рекламные предложения с уровнем ожидания, конкурентными преимуществами и статистической информацией.<br>
                4. Запустили рекламу для тех, кто находится в городе Чехове, плюс реклама для жителей Чехова, которые работают или учатся в Москве.<br>
                5. Выделили коммерческие запросы в отдельные кампании с индивидуальными стратегиями.<br>
                6. Исходя из расчетов маржинальности услуг определили допустимую стоимость привлечения клиентов и выстроили соответствующую систему управление ставками.
              </p>
            </div>
            <div class="case-slider">
              <div class="swiper-container case-slider-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <p> Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <p> Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <p> Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <div class="case-numbers">05</div>
            <div class="wow fadeInLeft" data-wow-delay="0.8s"> 
              <h6 class="case-subtitle">SEO продвижение</h6>
              <p>Реклама - это здорово, но мы не хотим платить за каждый переход на сайт. Наша задача получать часть трафика бесплатно, за счет хорошего сайта и правильного продвижения. Мы разбили работы по SEO на несколько этапов.</p>
              <p>1. Удобство использование сайта (юзабилити). Этот этап реализовывался на моменте прототипирования и дизайна сайта. Мы продумывали сценарий поведения пользователя, прогнозировали последовательность действий. <br></p>2. Анализ конкурентов в ТОП выдачи поисковиков.<br>
              3. Сбор семантики и оптимизация сайта. Наш сайт должен правильно индексироваться поисковиками. Быть виден по максимальному числу запросов.<br>
              4. Наращивание контента на сайте. <br>
              5. Поиск точек роста и улучшение ключевых показателей: конверсии, время на сайте, кол-во посещаемых страниц.<br>
              6. Улучшение CTR (кликабельности) в поисковой выдаче.<br>
              7. Увеличение цитируемости сайта.
            </div>
            <div class="case-numbers">06</div>
            <div class="wow fadeInLeft" data-wow-delay="0.8s"> 
              <h6 class="case-subtitle">Системы аналитики</h6>
              <p>Мы измеряем множество показателей, самые основные: объем трафика, позиции сайта в поисковиках, поведенческие факторы на сайте, конверсии (CR), кликабельность (CTR), количество лидов (обращений), плотность записи в медцентр.</p>
              <p>Аналитика выстроена в системах Google Analytics, Коллтрекинг Сallibri, Яндекс Метрика.</p>
              <p> <strong>Результаты.<br></strong>Для примера возьмем данные за апрель 2019: <br>
                Средняя конверсия с рекламы в лид - 4,73%, средняя стоимость перехода - 21,5 руб. <br>
                Т.о. один лид в апреле обошелся в 456 руб, что в 6,5 раз меньше средних значений в нише:<br><strong>100 переходов х 21,5 руб / 4,73 = 456 руб</strong>
              </p>
              <p>В мае 2019 лид обошелся в 483 руб.<br><strong>Как итог, мы платим за привлечения клиента в 6 раз меньше, чем конкуренты: 500 руб против 3000 руб.</strong></p>
            </div>
            <div class="list-100">
              <div class="row">
                <div class="col-md-4">
                  <div class="case-lead">Стоимость лидов для клиники составляет: <br>450 - 500 руб.</div>
                </div>
                <div class="col-md-4">
                  <div class="case-lead">Средняя конверсия с рекламы в запись <br>составляет 4-5%</div>
                </div>
                <div class="col-md-4">
                  <div class="case-lead">Реклама и сайт обеспечивает стабильную запись в медцентр</div>
                </div>
              </div>
            </div>
            <div class="case-slider">
              <div class="swiper-container case-slider-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <p> Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <p> Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="case-slider__images"><img src="images/case-slider/1.jpg" alt=""></div>
                    <div class="case-slider__desc">
                      <p> Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <h6 class="case-subtitle">Большой опыт работы с CMD</h6>
            <div class="wow fadeInLeft" data-wow-delay="0.8s"> 
              <p>Мы успешно работаем с 4-мя филиалами CMD больше года:</p>
              <p>1. CMD г. Чехов, ул. Московская, д. 84 к1 - с сентября 2018г. <br>2. CMD г. Москва, ул. Адмирала Лазарева, д. 6 - с мая 2018г. <br>3. CMD г. Подольск ул. Свердлова д. 21 и ул. Ленинградская д. 11 - с мая 2018г.<br>4. CMD г. Москва, пр-т Вернадского, д. 127 - с марта 2018г.   </p>
              <div class="case-numbers">07</div>
              <h6 class="case-subtitle">Коммерческое предложение</h6>
              <p> <strong>Контекстная реклама<br></strong>Перечень работ:<br>
                - Анализ прямых конкурентов в вашем городе,<br>
                - Разработка стратегий,<br>
                - Сбор запросов по всем услугам медцентра + анализы,<br>
                - Определение рекламных предложений и составление рекламных объявлений,<br>
                - Настройка кампаний на поиске и сетях с использованием полного функционала Яндекс Директ и Google Ads,<br>
                - Автоматизация ставок,<br>
                - Чистка "мусорных" запросов,<br>
                - Отключение неэффективных площадок,<br>
                - Оптимизация кампаний и рекламных объявлений,<br>
                - Управление рентабельностью.<br><strong>Стоимость 30.000 руб/мес за один филиал.<br></strong>За второй филиал доплата 5-10.000 руб в зависимости от кол-ва услуг.
              </p>
              <p> <strong>SEO-продвижение в поисковиках<br></strong>Перечень работ:<br>
                - Анализ сайтов в ТОПе выдачи поисковиков Яндекс и Google,<br>
                - Разработка стратегий продвижения и составление плана работ,<br>
                - Сбор семантики по всем услугам медцентра + анализы,<br>
                - Выявления и устранения технических ошибок на сайте,<br>
                - Оптимизация сайта,<br>
                - Работа с текстами (копирайтинг),<br>
                - Работа с ссылочной массой,<br>
                - Анализ и улучшение поведенческих факторов на сайте,<br>
                - Проработка коммерческой составляющей на сайте,<br>
                - Поиск точек роста для трафика.
              </p>
              <p><strong>Стоимость 35.000 руб/мес за один сайт.</strong></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="case-form case-form--Two">
      <div class="container-fluid">           
        <div class="case-form-container">
          <h3 class="b-title wow fadeInUp" data-wow-delay="0.8s"> Хотите работать с нами?</h3>
          <div class="b-title_desc">Если вам понравился наш кейс и вы хотите посотрудничать с нашей командой - заполните эту форму</div>
          <form class="wow fadeInUp b-form" action="file" data-wow-delay="0.8s">
            <input class="b-form__input" type="text" placeholder="Как к вам обращаться">
            <input class="b-form__input" type="tel" placeholder="Телефон для связи">
            <button class="b-form__button">ДАВАЙТЕ РАБОТАТЬ</button>
          </form>
          <div class="politic">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c <a href="">Политикой Конфиденциальности</a></div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container-fluid">
        <div class="footer-container"><a class="logo" href=""><img src="images/logo.svg" alt=""/></a>
          <nav class="menu menu--footer"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a><a class="menu__link" href="">«Под ключ»</a></nav><a class="h-phone h-phone--strong" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
        <div class="footer-info">
          <div class="company-info">© 2018 <br>ИП Маслов Дмитрий Валерьевич<br>ОГРНИП 314503420200018<br>г. Москва, ул. Южнопортовая, 5c7</div>
          <div class="f-i-right"><a class="footer-email" href="mailto:customers@web-beri.ru">customers@web-beri.ru</a><a class="politic-footer" href="">Пользовательское соглашение</a></div>
        </div>
      </div>
    </footer>
    <script src="js/libs.min.js"></script>
    <script src="js/script.js">       </script>
  </body>
</html>

app/page/case-1.pug
extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/cases/cases.pug


block title
    +head('Кейс CMD. Разработка сайта, продвижение и реклама.')
block pagecontent
    .case-images-top(style="background-image: url(images/banner2ok.jpg)")
    .header-case
        header.header
            .container-fluid
                .menu_open 
                    .menu_open__text Меню
                    button.menu_open__button
                        span
                        span
                        span

                .header-container
                    a(href="").logo
                    nav.menu
                        a(href="").menu__link Что делаем
                        a(href="").menu__link Портфолио
                        a(href="").menu__link Как работаем
                        a(href="").menu__link Команда
                        a(href="").menu__link Блог
                    a(href="tel:+74996477892").h-phone +7 (499) 647-78-92
        .header-case__content
            h1.case-title Кейс CMD. Разработка сайта, <br>продвижение и реклама.
            .case-description Подробный кейс с результатами. Аналитика ниши, выбор стратегий, разработка сайта, запуск рекламы и продвижение.
        .arrow
    section.case-content
        .container-fluid
            .row
                .offset-md-1.col-md-10
                    div(class="wow fadeInLeft" data-wow-delay="0.8s") 
                        h6.case-subtitle Отправная точка и задачи
                        p Клиника ЦМД в Чехове запускалась с нуля. Нам надо было привлечь пациентов в клинику и обеспечить максимальную запись. Мы конкурировали за аудиторию с медцентрами, которые уже зарекомендовали себя на рынке. Мы претендовали на часть их аудитории. Стояла задача привлечь внимание пациентов и заслужить их доверие.
                    .case-list-img.row
                        .col-md-4
                            img(src="images/open1.jpg", alt="")
                        .col-md-4
                            img(src="images/open2.jpg", alt="")
                        .col-md-4
                            img(src="images/open3.jpg", alt="")       
                    div(class="wow fadeInLeft" data-wow-delay="0.8s")   
                        strong Что нужно сделать:
                        ul
                            li проанализировать услуги, аудиторию и конкурентов;
                            li упаковать услугу красиво и с конкурентными преимуществами;
                            li создать эффективный сайт;
                            li разработать рекламные стратегии;
                            li подготовить рекламные предложения и объявления;
                            li запустить рекламу в Яндекс Директ и Google Ads;
                            li сделать оптимизацию сайта и подробный план продвижения;
                            li настроить системы аналитики и управления рентабельностью;
                        p 
                            strong Основная проблема 
                            | рекламы для медицинских центров: низкая конверсия (0,5%-1%, т.е. 1 из 100 посетителей становится клиентом) и высокая плата за клик (в районе 30 руб). Т.о. стоимость одного клиента выходит:
                            br
                            | 30 руб Х 100 переходов = 
                            strong 3000 руб за одного клиента. Это дорого.
                        p Мы можем повлиять в основном на конверсию. Это и есть основная задача рекламы и сайта.
                    .case-numbers 01
                    div(class="wow fadeInLeft" data-wow-delay="0.8s")  
                        h6.case-subtitle Анализ конкурентов и целевой аудитории:
                        p Мы начали с того, что просмотрели сайты других диагностических лабораторий и медицинских центров. И обнаружили две основные проблемы:
                        p 
                            strong 1. Все сайты медцентров практически одинаковые
                            | - Может быть с точки зрения дизайна и интерфейса разница есть, но с точки зрения контента и смыслов разницы нет.
                        p 
                            strong 2. Сайты медицинских центров информационные
                            | - Сайты не решают проблемы пациентов. Не разбирают их страхи, связанные с посещением врачей и процедур, не работают с их сомнениями при выборе между медцентрами.
                    .case-list-img.row
                        .col-md-4
                            img(src="images/open1.jpg", alt="")
                        .col-md-4
                            img(src="images/open2.jpg", alt="")
                        .col-md-4
                            img(src="images/open3.jpg", alt="")
                    div(class="wow fadeInLeft" data-wow-delay="0.5s")                              
                        p Мы сделали выборку из пациентов другой клиники CMD и позвонили им с рядом вопросов. Как мы и предполагали большинство вопросов остаются без ответа. У пациентов есть внутренние страхи, которые можно разделить на 2 категории: "Болезненны ли процедуры?", "Насколько защищена информация с результатами анализов?". Также мы выявили несколько популярных сомнений: "Компетенция врачей", "Стоимость процедур", "Точность результатов анализов", "Дополнительные траты", "Оправданность назначенных процедур".
                        p Мы связались с врачами и расспросили их о том, что на их взгляд важно для пациентов. А также о компетенциях каждого врача, образовании, курсах повышении квалификации, рабочем стаже и медицинском оборудовании.
                        p Т.о. нам удалось собрать рабочий материал. Мы поняли, на какие вопросы пациенты хотят получать ответы сразу, а не на стойке администраторов. Что их тревожит, какие у них сомнения. Какие критерия определяют их выбор, формируют их решения. При этом мы собрали полный портрет ЦА, разделили его на несколько групп по задачам и характеристикам. И отправились упаковывать услуги, делать офферы (предложения) и разрабатывать сайт...
                    .case-numbers 02
                    div(class="wow fadeInLeft" data-wow-delay="0.8s")                          
                        h6.case-subtitle Упаковка и фирменный стиль
                        p Упаковка и фирменный стильИсходя из анализа аудитории, мы решили, что основой нашего сайта будут ответы на вопросы наших будущих пациентов. Мы не будем давать справочную информацию, только смыслы. Наша задача ответить на все вопросы пациента, построить с ним диалог. Показать, что мы знаем о его сомнениях. Его реакция должна быть такая: "Тут есть все, что меня интересовало. Это то, что мне надо!"
                        p Для фирменного стиля было решено выбрать основные цвета бренда. Акцент сделали на смыслах. Задача дизайна: провести пользователя по заранее спланированному сценарию и разобрать его вопросы и проблему выбора.
                        p Мы собрали набор конкурентных преимуществ, выбирая подходящие для запросов и услуг.
                    .case-numbers 03
                    div(class="wow fadeInLeft" data-wow-delay="0.8s")                          
                        h6.case-subtitle Сайт. Медицинские услуги.
                        p Итак, мы имеем данные по аудитории: портрет и группы. Мы знаем, что волнует пациентов, что им нужно, на какие вопросы они не получают ответы, на что обращают внимание при выборе медцентра. Мы разработали пользовательский сценарий и приступили к созданию сайта.
                        p Сайт может быть красивый и не красивый, понятный и сложный, с большим или малым объемом текста. Это все индивидуально. Единственная универсальная оценка сайта - конверсия в лид. И наша задача состояла в том, чтобы этот параметр был максимально высоким, чтобы сайт был не визиткой, а рабочим бизнес инструментом.
                        p
                            strong Задача сайта: приводить максимум клиентов за небольшую стоимость.
                        p Ниже слайдер с нашими решениями по сайту и их обоснованиями. В этой части приведены стандартные направления медицинской деятельности. Полистайте фото, прочитайте описание и вы найдете для себя много полезного.
                        p
                            strong Листайте >>
                    .case-slider
                        .swiper-container.case-slider-container
                            .swiper-wrapper
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        .case-slider__title Гинекология
                                        p Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        .case-slider__title Гинекология
                                        p Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        .case-slider__title Гинекология
                                        p Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        .case-slider__title Гинекология
                                        p Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        .case-slider__title Гинекология
                                        p Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.                                                                                                                                                
                            .swiper-pagination
                        .swiper-button-next
                        .swiper-button-prev
                    div(class="wow fadeInLeft" data-wow-delay="0.8s") 
                        h6.case-subtitle Сайт. Медицинские анализы
                        p Центральный офис CMD предоставил нам информацию о работе своей лаборатории. Мы поняли, что за всем этим стоит сложный процесс и научный подход: институт, профессионалы своего дела, дорогостоящее и точное оборудование, отлаженные процессы. Так почему бы не рассказать об этом нашим клиентам?                                        
                        p
                            strong Листайте >>
                    .case-slider
                        .swiper-container.case-slider-container
                            .swiper-wrapper
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        .case-slider__title Гинекология
                                        p Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        .case-slider__title Гинекология
                                        p Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        .case-slider__title Гинекология
                                        p Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        .case-slider__title Гинекология
                                        p Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        .case-slider__title Гинекология
                                        p Мы выяснили, что одно из главных преимуществ нашей гинекологии - наличие УЗИ прямо в кабинете. Показали это пациентам в самом верху страницы.                                                                                                                                                
                            .swiper-pagination
                        .swiper-button-next
                        .swiper-button-prev
                    
                    .link-client Ссылка на сайт 
                        a(href="") CMD Чехов
    section.case-form
        .container-fluid            
            h3.b-title(class="wow fadeInUp" data-wow-delay="0.5s")  Запросить подробный план и расчет бюджета на привлечения новых пациентов
            .b-title_desc Мы пришлем вам в Whats'App ссылки на кейсы нашей команды и договоримся о Skype-презентации и разборе ваших задач
            form(action="file" class="wow fadeInUp" data-wow-delay="0.5s").b-form
                input(type="text"  placeholder="Как вас зовут").b-form__input
                input(type="tel"  placeholder="Номер телефона").b-form__input
                input(type="email"  placeholder="Ваш e-mail").b-form__input
                button.b-form__button Получить ссылки
            .politic Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                a(href="") Политикой Конфиденциальности
    section.case-content.case-content--continuation
        .container-fluid
            .row
                .offset-md-1.col-md-10
                    .case-numbers 04
                    div(class="wow fadeInLeft" data-wow-delay="0.8s") 
                        h6.case-subtitle Маркетинговая стратегия и реклама
                        p Для начала мы разработали офферы (рекламные предложения) на основании полученных данных от пациентов. В рекламе мы оперируем только важной информацией, говорим просто и с цифрами. Накопив достаточные данные о целевой аудитории, мы выработали несколько стратегий привлечения пациентов.
                        p
                            strong Контекстная реклама
                        p 1. Мы собрали запросы по всем видам услуг в нашей клинике. Запросы по врачам, процедурам, болезням и конкурентам. <br>
                            | 2. Проанализировали рекламу конкурентов, исключили возможные пересечения по рекламным предложениям.<br>
                            | 3. На основании накопленных данных создали рекламные предложения с уровнем ожидания, конкурентными преимуществами и статистической информацией.<br>
                            | 4. Запустили рекламу для тех, кто находится в городе Чехове, плюс реклама для жителей Чехова, которые работают или учатся в Москве.<br>
                            | 5. Выделили коммерческие запросы в отдельные кампании с индивидуальными стратегиями.<br>
                            | 6. Исходя из расчетов маржинальности услуг определили допустимую стоимость привлечения клиентов и выстроили соответствующую систему управление ставками.
                    .case-slider
                        .swiper-container.case-slider-container
                            .swiper-wrapper
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        p  Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        p  Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        p  Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.
                            .swiper-pagination
                        .swiper-button-next
                        .swiper-button-prev
                    .case-numbers 05
                    div(class="wow fadeInLeft" data-wow-delay="0.8s") 
                        h6.case-subtitle SEO продвижение
                        p Реклама - это здорово, но мы не хотим платить за каждый переход на сайт. Наша задача получать часть трафика бесплатно, за счет хорошего сайта и правильного продвижения. Мы разбили работы по SEO на несколько этапов.
                        p 1. Удобство использование сайта (юзабилити). Этот этап реализовывался на моменте прототипирования и дизайна сайта. Мы продумывали сценарий поведения пользователя, прогнозировали последовательность действий. <br>
                        | 2. Анализ конкурентов в ТОП выдачи поисковиков.<br>
                        | 3. Сбор семантики и оптимизация сайта. Наш сайт должен правильно индексироваться поисковиками. Быть виден по максимальному числу запросов.<br>
                        | 4. Наращивание контента на сайте. <br>
                        | 5. Поиск точек роста и улучшение ключевых показателей: конверсии, время на сайте, кол-во посещаемых страниц.<br>
                        | 6. Улучшение CTR (кликабельности) в поисковой выдаче.<br>
                        | 7. Увеличение цитируемости сайта.
                    .case-numbers 06
                    div(class="wow fadeInLeft" data-wow-delay="0.8s") 
                        h6.case-subtitle Системы аналитики
                        p Мы измеряем множество показателей, самые основные: объем трафика, позиции сайта в поисковиках, поведенческие факторы на сайте, конверсии (CR), кликабельность (CTR), количество лидов (обращений), плотность записи в медцентр.
                        p Аналитика выстроена в системах Google Analytics, Коллтрекинг Сallibri, Яндекс Метрика.
                        p 
                            strong Результаты.<br>
                            | Для примера возьмем данные за апрель 2019: <br>
                            | Средняя конверсия с рекламы в лид - 4,73%, средняя стоимость перехода - 21,5 руб. <br>
                            | Т.о. один лид в апреле обошелся в 456 руб, что в 6,5 раз меньше средних значений в нише:<br>
                            strong 100 переходов х 21,5 руб / 4,73 = 456 руб
                        p В мае 2019 лид обошелся в 483 руб.<br>
                            strong Как итог, мы платим за привлечения клиента в 6 раз меньше, чем конкуренты: 500 руб против 3000 руб.
                    .list-100
                        .row
                            .col-md-4
                                .case-lead Стоимость лидов для клиники составляет: <br>450 - 500 руб.
                            .col-md-4
                                .case-lead Средняя конверсия с рекламы в запись <br>составляет 4-5%
                            .col-md-4
                                .case-lead Реклама и сайт обеспечивает стабильную запись в медцентр
                    .case-slider
                        .swiper-container.case-slider-container
                            .swiper-wrapper
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        p  Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        p  Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.
                                .swiper-slide
                                    .case-slider__images
                                        img(src="images/case-slider/1.jpg", alt="")
                                    .case-slider__desc
                                        p  Все рекламные объявления адаптированы под запрос и отвечают ожиданием пользователей. За счет этого достигается высокий CTR (кликабельность) и как следствие - экономия бюджета.
                            .swiper-pagination
                        .swiper-button-next
                        .swiper-button-prev
                    h6.case-subtitle Большой опыт работы с CMD
                    div(class="wow fadeInLeft" data-wow-delay="0.8s") 
                        p Мы успешно работаем с 4-мя филиалами CMD больше года:
                        p 1. CMD г. Чехов, ул. Московская, д. 84 к1 - с сентября 2018г. <br>2. CMD г. Москва, ул. Адмирала Лазарева, д. 6 - с мая 2018г. <br>3. CMD г. Подольск ул. Свердлова д. 21 и ул. Ленинградская д. 11 - с мая 2018г.<br>4. CMD г. Москва, пр-т Вернадского, д. 127 - с марта 2018г.   
                        .case-numbers 07
                        h6.case-subtitle Коммерческое предложение
                        p 
                            strong Контекстная реклама<br>
                            | Перечень работ:<br>
                            | - Анализ прямых конкурентов в вашем городе,<br>
                            | - Разработка стратегий,<br>
                            | - Сбор запросов по всем услугам медцентра + анализы,<br>
                            | - Определение рекламных предложений и составление рекламных объявлений,<br>
                            | - Настройка кампаний на поиске и сетях с использованием полного функционала Яндекс Директ и Google Ads,<br>
                            | - Автоматизация ставок,<br>
                            | - Чистка "мусорных" запросов,<br>
                            | - Отключение неэффективных площадок,<br>
                            | - Оптимизация кампаний и рекламных объявлений,<br>
                            | - Управление рентабельностью.<br>
                            strong Стоимость 30.000 руб/мес за один филиал.<br>
                            | За второй филиал доплата 5-10.000 руб в зависимости от кол-ва услуг.
                        p 
                            strong SEO-продвижение в поисковиках<br>
                            | Перечень работ:<br>
                            | - Анализ сайтов в ТОПе выдачи поисковиков Яндекс и Google,<br>
                            | - Разработка стратегий продвижения и составление плана работ,<br>
                            | - Сбор семантики по всем услугам медцентра + анализы,<br>
                            | - Выявления и устранения технических ошибок на сайте,<br>
                            | - Оптимизация сайта,<br>
                            | - Работа с текстами (копирайтинг),<br>
                            | - Работа с ссылочной массой,<br>
                            | - Анализ и улучшение поведенческих факторов на сайте,<br>
                            | - Проработка коммерческой составляющей на сайте,<br>
                            | - Поиск точек роста для трафика.
                        p
                            strong Стоимость 35.000 руб/мес за один сайт.
    section.case-form.case-form--Two
        .container-fluid            
            .case-form-container
                h3.b-title(class="wow fadeInUp" data-wow-delay="0.8s")  Хотите работать с нами?
                .b-title_desc Если вам понравился наш кейс и вы хотите посотрудничать с нашей командой - заполните эту форму
                form(action="file" class="wow fadeInUp" data-wow-delay="0.8s").b-form
                    input(type="text" placeholder="Как к вам обращаться").b-form__input
                    input(type="tel" placeholder="Телефон для связи").b-form__input
                    button.b-form__button ДАВАЙТЕ РАБОТАТЬ
                .politic Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                    a(href="") Политикой Конфиденциальности
    +footer
