app/case-2.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="Описание"/>
    <link rel="apple-touch-icon" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Реклама и продвижение в интернете магазина одежды</title>
    <link rel="stylesheet" href="style/libs.min.css"/>
    <link rel="stylesheet" href="style/main.css"/>
  </head>
  <body>
    <div class="case-images-top case-images-top--case2" style="background-image: url(images/845min.jpg)"></div>
    <div class="header-case header-case--case2">
      <header class="header">
        <div class="container-fluid">
          <div class="menu_open"> 
            <div class="menu_open__text">Меню</div>
            <button class="menu_open__button"><span></span><span></span><span></span></button>
          </div>
          <div class="header-container"><a class="logo" href=""></a>
            <nav class="menu"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a></nav><a class="h-phone" href="tel:+74996477892">+7 (499) 647-78-92</a>
          </div>
        </div>
      </header>
      <div class="container-fluid">                   
        <div class="case-head">
          <div class="case-head__left">
            <div class="description-case wow fadeInLeft" data-wow-delay="0.3s"> Реклама и продвижение в интернете магазина одежды</div>
            <h1 class="case-title wow fadeInLeft" data-wow-delay="0.5s"> Prima Donna</h1>
            <div class="case-info wow fadeInLeft" data-wow-delay="0.8s"> Оффлайн сеть магазинов верхней одежды.<br><strong>Что делали: </strong>анализ рынка, выбор стратегии, посадочные страницы, контекстная и таргетированная реклама<br> <strong>Когда работали: </strong>2017 г. - настоящее время</div>
          </div>
          <div class="case-border wow fadeInRight" data-wow-delay="0.8s"> <img src="images/prima.jpg" alt=""></div>
        </div>
      </div>
    </div>
    <section class="case-content case-content--caseTwo">
      <div class="container-fluid">
        <div class="case-containers">
          <div class="case-containers__main">
            <div class="case-numbers">01</div>
            <div class="wow fadeInLeft" data-wow-delay="0.5s"> 
              <h6 class="case-subtitle">Задача.<img src="images/1_case.svg" alt=""></h6>
              <p>Задача: Привести покупателей в оффлайн магазины через интернет. <br>Поднять продажи. Сделать максимальный охват целевой аудитории в городах, где представлены магазины Prima Donna.</p>
            </div>
          </div>
          <div class="case-leads-list wow fadeInRight" data-wow-delay="0.5s"> 
            <div class="case-lead">Количество лидов в месяц:<strong>>500</strong></div>
            <div class="case-lead">Оборот с продаж в месяц, руб.:<strong>25 млн.</strong></div>
            <div class="case-lead">Рекламный бюджет руб./мес:<strong>1 млн.</strong></div>
          </div>
        </div>
        <div class="case-analiz">
          <div class="case-analiz__text">
            <div class="case-numbers">02</div>
            <div class="wow fadeInLeft" data-wow-delay="0.5s"> 
              <h6 class="case-subtitle">Анализ.<img src="images/2_case.svg" alt=""></h6>
              <p>Мы проанализировали товарный ряд и сравнили с конкурентами, чтобы понять все различия. Изучили покупателей в заданных городах: их потребности, материальные возможности и способ покупки товаров.</p>
            </div>
          </div>
          <div class="case-analiz__lead wow fadeInRight" data-wow-delay="0.5s"> 
            <div class="case-lead">
              <ul> 
                <li>Продукт: ценовой сегмент, спрос, каналы продаж</li>
                <li>Целевая аудитория: потребности, возможности</li>
                <li>Конкуренты: товарные предложения, рекламные каналы</li>
              </ul>
            </div>
          </div>
          <div class="case-gallery wow fadeInUp" data-wow-delay="0.5s"> <a class="gallery-img" data-fancybox="gallery" href="images/gallery/1.jpg"><img src="images/gallery/1.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery" href="images/gallery/2.jpg"><img src="images/gallery/2.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery" href="images/gallery/3.jpg"><img src="images/gallery/3.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery" href="images/gallery/4.jpg"><img src="images/gallery/4.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery" href="images/gallery/5.jpg"><img src="images/gallery/5.jpg" alt=""></a></div>
        </div>
      </div>
      <div class="case-step-bg" style="background-image: url(images/bg_25.png)">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8">
              <div class="case-numbers">03</div>
              <div class="wow fadeInUp" data-wow-delay="0.5s"> 
                <h6 class="case-subtitle">Гипотеза.</h6>
                <p>Конкуренция в данной нише высокая. Есть такие игроки как Каляев, Снежная Королева, Алеф, Elena Furs . Но товары Prima Donna отличаются большим выбором в низком и среднем ценовом диапазоне. Отсюда и конкурентные преимущества. <br>Ядро целевой аудитории: женщины в возрасте от 45 лет, которые не привыкли делать покупки в интернете. Плюс основной сайт вызывал у них ощущение интернет-магазина. Поэтому мы решили сделать специальные лэндинги, которые будут понятны нашей аудитории. А также мотивировать их приходить в оффлайн магазин, путем регистрации в обмен на щедрый купон.            </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="case-numbers">04</div>
        <div class="case-grid">
          <div class="case-big-image wow fadeInLeft" data-wow-delay="0.5s"> <a class="gallery-img" data-fancybox="gallery-2" href="images/gallery/1.jpg"><img src="images/gallery/1.jpg" alt=""></a></div>
          <div class="case-desc wow fadeInRight" data-wow-delay="0.5s"> 
            <h6 class="case-subtitle">Решение.<img src="images/3_case.svg" alt=""></h6>
            <ol>
              <li> <span>Мы сделали лэндинги на каждую товарную группу: шубы, пальто, кожаные куртки для каждого города. Разместили блоки со скидочными купонами: до 5000 руб на шубу.</span></li>
              <li> <span>На лэндингах многократно повторяли, что это оффлайн магазин (адреса, фото ТЦ и магазина), можно прийти и померить одежду.</span></li>
              <li> <span>Определили основные соцсети, которыми пользуются наши клиенты и запустили таргетированную рекламу.</span></li>
              <li> <span>Собрали запросы на весь товарный ряд и запустили контекстную рекламу в Яндексе и Google.</span></li>
              <li> <span>Настроили системы аналитика и провели А/Б тесты.</span></li>
            </ol>
          </div>
          <div class="case-gallery wow fadeInUp" data-wow-delay="0.5s"> <a class="gallery-img" data-fancybox="gallery-2" href="images/gallery/1.jpg"><img src="images/gallery/1.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery-2" href="images/gallery/2.jpg"><img src="images/gallery/2.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery-2" href="images/gallery/3.jpg"><img src="images/gallery/3.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery-2" href="images/gallery/4.jpg"><img src="images/gallery/4.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery-2" href="images/gallery/5.jpg"><img src="images/gallery/5.jpg" alt=""></a></div>
        </div>
        <div class="case-analiz">
          <div class="case-analiz__text">
            <div class="case-numbers">05</div>
            <div class="wow fadeInleft" data-wow-delay="0.5s"> 
              <h6 class="case-subtitle">Результаты.<img src="images/5_case.svg" alt=""></h6>
              <p>Уже на следующий месяц после запуска рекламы мы получили 821 заявку на сертификат только через форму на лэндингах.</p>
            </div>
          </div>
          <div class="case-analiz__lead wow fadeInRight" data-wow-delay="0.5s"> 
            <div class="case-lead">
              <ul> 
                <li>За первую половину сезона активировано более 2000 купонов</li>
                <li>В магазинах продажи увеличились на 35% по отношению к прошлому периоду</li>
                <li>Общий оборот продаж составил 30 млн. руб. в месяц</li>
              </ul>
            </div>
          </div>
          <div class="case-gallery wow fadeInUp" data-wow-delay="0.5s"> <a class="gallery-img" data-fancybox="gallery-3" href="images/gallery/1.jpg"><img src="images/gallery/1.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery-3" href="images/gallery/2.jpg"><img src="images/gallery/2.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery-3" href="images/gallery/3.jpg"><img src="images/gallery/3.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery-3" href="images/gallery/4.jpg"><img src="images/gallery/4.jpg" alt=""></a><a class="gallery-img" data-fancybox="gallery-3" href="images/gallery/5.jpg"><img src="images/gallery/5.jpg" alt=""></a></div>
        </div><a class="link-case" href="">Перейти на Prima Donna</a>
      </div>
    </section>
    <section class="case-form case-form--Two">
      <div class="container-fluid">           
        <h3 class="b-title">Хотите таких же результатов? <br>Оставьте заявку, и мы свяжемся <br>с вами</h3>
        <form class="b-form" action="file">
          <input class="b-form__input" type="text" placeholder="Как вас зовут">
          <input class="b-form__input" type="tel" placeholder="Номер телефона">
          <input class="b-form__input" type="email" placeholder="Ваш e-mail">
          <button class="b-form__button">CВЯЗАТЬСЯ С НАМИ</button>
        </form>
        <div class="politic">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c <a href="">Политикой Конфиденциальности</a></div>
      </div>
    </section>
    <footer class="footer">
      <div class="container-fluid">
        <div class="footer-container"><a class="logo" href=""><img src="images/logo.svg" alt=""/></a>
          <nav class="menu menu--footer"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a><a class="menu__link" href="">«Под ключ»</a></nav><a class="h-phone h-phone--strong" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
        <div class="footer-info">
          <div class="company-info">© 2018 <br>ИП Маслов Дмитрий Валерьевич<br>ОГРНИП 314503420200018<br>г. Москва, ул. Южнопортовая, 5c7</div>
          <div class="f-i-right"><a class="footer-email" href="mailto:customers@web-beri.ru">customers@web-beri.ru</a><a class="politic-footer" href="">Пользовательское соглашение</a></div>
        </div>
      </div>
    </footer>
    <script src="js/libs.min.js"></script>
    <script src="js/script.js">       </script>
  </body>
</html>

app/page/case-2.pug
extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/cases/cases.pug


block title
    +head('Реклама и продвижение в интернете магазина одежды')
block pagecontent
    .case-images-top.case-images-top--case2(style="background-image: url(images/845min.jpg)")
    .header-case.header-case--case2
        header.header
            .container-fluid
                .menu_open 
                    .menu_open__text Меню
                    button.menu_open__button
                        span
                        span
                        span

                .header-container
                    a(href="").logo
                    nav.menu
                        a(href="").menu__link Что делаем
                        a(href="").menu__link Портфолио
                        a(href="").menu__link Как работаем
                        a(href="").menu__link Команда
                        a(href="").menu__link Блог
                    a(href="tel:+74996477892").h-phone +7 (499) 647-78-92
        .container-fluid                    
            .case-head
                .case-head__left
                    .description-case(class="wow fadeInLeft" data-wow-delay="0.3s")  Реклама и продвижение в интернете магазина одежды
                    h1.case-title(class="wow fadeInLeft" data-wow-delay="0.5s")  Prima Donna
                    .case-info(class="wow fadeInLeft" data-wow-delay="0.8s")  Оффлайн сеть магазинов верхней одежды.<br>
                        strong Что делали: 
                        | анализ рынка, выбор стратегии, посадочные страницы, контекстная и таргетированная реклама<br> 
                        strong Когда работали: 
                        | 2017 г. - настоящее время
                .case-border(class="wow fadeInRight" data-wow-delay="0.8s") 
                    img(src="images/prima.jpg", alt="")
    section.case-content.case-content--caseTwo
        .container-fluid
            .case-containers
                .case-containers__main
                    .case-numbers 01
                    div(class="wow fadeInLeft" data-wow-delay="0.5s") 
                        h6.case-subtitle Задача.
                            img(src="images/1_case.svg", alt="")
                        p Задача: Привести покупателей в оффлайн магазины через интернет. <br>Поднять продажи. Сделать максимальный охват целевой аудитории в городах, где представлены магазины Prima Donna.
                .case-leads-list(class="wow fadeInRight" data-wow-delay="0.5s") 
                    .case-lead Количество лидов в месяц:
                        strong >500
                    .case-lead Оборот с продаж в месяц, руб.:
                        strong 25 млн.
                    .case-lead Рекламный бюджет руб./мес:
                        strong 1 млн.
            .case-analiz
                .case-analiz__text
                    .case-numbers 02
                    div(class="wow fadeInLeft" data-wow-delay="0.5s") 
                        h6.case-subtitle Анализ.
                            img(src="images/2_case.svg", alt="")
                        p Мы проанализировали товарный ряд и сравнили с конкурентами, чтобы понять все различия. Изучили покупателей в заданных городах: их потребности, материальные возможности и способ покупки товаров.
                .case-analiz__lead(class="wow fadeInRight" data-wow-delay="0.5s") 
                    .case-lead
                        ul 
                            li Продукт: ценовой сегмент, спрос, каналы продаж
                            li Целевая аудитория: потребности, возможности
                            li Конкуренты: товарные предложения, рекламные каналы
                .case-gallery(class="wow fadeInUp" data-wow-delay="0.5s") 
                    a(data-fancybox="gallery" href="images/gallery/1.jpg").gallery-img
                        img(src="images/gallery/1.jpg", alt="")
                    a(data-fancybox="gallery" href="images/gallery/2.jpg").gallery-img
                        img(src="images/gallery/2.jpg", alt="")
                    a(data-fancybox="gallery" href="images/gallery/3.jpg").gallery-img
                        img(src="images/gallery/3.jpg", alt="")
                    a(data-fancybox="gallery" href="images/gallery/4.jpg").gallery-img
                        img(src="images/gallery/4.jpg", alt="")
                    a(data-fancybox="gallery" href="images/gallery/5.jpg").gallery-img
                        img(src="images/gallery/5.jpg", alt="")
        .case-step-bg(style="background-image: url(images/bg_25.png)")
            .container-fluid
                .row
                    .col-lg-8
                        .case-numbers 03
                        div(class="wow fadeInUp" data-wow-delay="0.5s") 
                            h6.case-subtitle Гипотеза.
                            p Конкуренция в данной нише высокая. Есть такие игроки как Каляев, Снежная Королева, Алеф, Elena Furs . Но товары Prima Donna отличаются большим выбором в низком и среднем ценовом диапазоне. Отсюда и конкурентные преимущества. <br>Ядро целевой аудитории: женщины в возрасте от 45 лет, которые не привыкли делать покупки в интернете. Плюс основной сайт вызывал у них ощущение интернет-магазина. Поэтому мы решили сделать специальные лэндинги, которые будут понятны нашей аудитории. А также мотивировать их приходить в оффлайн магазин, путем регистрации в обмен на щедрый купон.            
        .container-fluid
            .case-numbers 04
            .case-grid
                .case-big-image(class="wow fadeInLeft" data-wow-delay="0.5s")  
                    a(data-fancybox="gallery-2" href="images/gallery/1.jpg").gallery-img
                        img(src="images/gallery/1.jpg", alt="")
                .case-desc(class="wow fadeInRight" data-wow-delay="0.5s") 
                    h6.case-subtitle Решение.
                        img(src="images/3_case.svg", alt="")
                    ol
                        li 
                            span Мы сделали лэндинги на каждую товарную группу: шубы, пальто, кожаные куртки для каждого города. Разместили блоки со скидочными купонами: до 5000 руб на шубу.
                        li 
                            span На лэндингах многократно повторяли, что это оффлайн магазин (адреса, фото ТЦ и магазина), можно прийти и померить одежду.
                        li 
                            span Определили основные соцсети, которыми пользуются наши клиенты и запустили таргетированную рекламу.
                        li 
                            span Собрали запросы на весь товарный ряд и запустили контекстную рекламу в Яндексе и Google.
                        li 
                            span Настроили системы аналитика и провели А/Б тесты.
                .case-gallery(class="wow fadeInUp" data-wow-delay="0.5s") 
                    a(data-fancybox="gallery-2" href="images/gallery/1.jpg").gallery-img
                        img(src="images/gallery/1.jpg", alt="")                
                    a(data-fancybox="gallery-2" href="images/gallery/2.jpg").gallery-img
                        img(src="images/gallery/2.jpg", alt="")
                    a(data-fancybox="gallery-2" href="images/gallery/3.jpg").gallery-img
                        img(src="images/gallery/3.jpg", alt="")
                    a(data-fancybox="gallery-2" href="images/gallery/4.jpg").gallery-img
                        img(src="images/gallery/4.jpg", alt="")
                    a(data-fancybox="gallery-2" href="images/gallery/5.jpg").gallery-img
                        img(src="images/gallery/5.jpg", alt="")
            .case-analiz
                .case-analiz__text
                    .case-numbers 05
                    div(class="wow fadeInleft" data-wow-delay="0.5s") 
                        h6.case-subtitle Результаты.
                            img(src="images/5_case.svg", alt="")
                        p Уже на следующий месяц после запуска рекламы мы получили 821 заявку на сертификат только через форму на лэндингах.
                .case-analiz__lead(class="wow fadeInRight" data-wow-delay="0.5s") 
                    .case-lead
                        ul 
                            li За первую половину сезона активировано более 2000 купонов
                            li В магазинах продажи увеличились на 35% по отношению к прошлому периоду
                            li Общий оборот продаж составил 30 млн. руб. в месяц
                .case-gallery(class="wow fadeInUp" data-wow-delay="0.5s") 
                    a(data-fancybox="gallery-3" href="images/gallery/1.jpg").gallery-img
                        img(src="images/gallery/1.jpg", alt="")
                    a(data-fancybox="gallery-3" href="images/gallery/2.jpg").gallery-img
                        img(src="images/gallery/2.jpg", alt="")
                    a(data-fancybox="gallery-3" href="images/gallery/3.jpg").gallery-img
                        img(src="images/gallery/3.jpg", alt="")
                    a(data-fancybox="gallery-3" href="images/gallery/4.jpg").gallery-img
                        img(src="images/gallery/4.jpg", alt="")
                    a(data-fancybox="gallery-3" href="images/gallery/5.jpg").gallery-img
                        img(src="images/gallery/5.jpg", alt="")
            a(href="").link-case Перейти на Prima Donna
    section.case-form.case-form--Two
        .container-fluid            
            h3.b-title Хотите таких же результатов? <br>Оставьте заявку, и мы свяжемся <br>с вами
            form(action="file").b-form
                input(type="text"  placeholder="Как вас зовут").b-form__input
                input(type="tel"  placeholder="Номер телефона").b-form__input
                input(type="email"  placeholder="Ваш e-mail").b-form__input
                button.b-form__button CВЯЗАТЬСЯ С НАМИ
            .politic Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                a(href="") Политикой Конфиденциальности
    +footer
