dist/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="Описание"/>
    <link rel="apple-touch-icon" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Контакты</title>
    <link rel="stylesheet" href="style/libs.min.css"/>
    <link rel="stylesheet" href="style/main.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container-fluid">
        <div class="menu_open"> 
          <div class="menu_open__text">Меню</div>
          <button class="menu_open__button"><span></span><span></span><span></span></button>
        </div>
        <div class="header-container"><a class="logo" href=""></a>
          <nav class="menu"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a></nav><a class="h-phone" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
      </div>
    </header>
    <section class="conctacts">  
      <div class="container-fluid">
        <h1 class="title">Контакты</h1>
        <div class="row" itemscope="itemscope" itemtype="https://schema.org/Organization">
          <div class="col-lg-6"> 
            <div class="conctacts__map">
              <div class="map">
                 <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab2fea60b31196054f47fb45115113668e9243b10b7333676d765906c10faffc1&amp;source=constructor"  frameborder="0"></iframe></div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="conctacts__desc" itemprop="address" itemscope="itemscope" itemtype="https://schema.org/PostalAddress">
              <div class="mb-4"><strong>Адрес: </strong><span itemprop="addressLocality">г. Москва,  </span><span itemprop="streetAddress">ул. Южнопортовая, 5c7</span></div>
              <div class="mb-4"><strong>Как связаться:</strong><span> <a href="tel:+74996477892" itemprop="telephone">+7 (499) 647-78-92 </a>, <a href="mailto:customers@web-beri.ru" itemprop="email">customers@web-beri.ru</a></span></div>
              <div class="mb-4"><strong>Часы работы: </strong><span>08:00 - 20:00</span></div>
              <div class="mb-4"><strong>Реквизиты: </strong><span>ИП Маслов Дмитрий Валерьевич ОГРНИП 314503420200018</span></div>
              <div class="d-none"><span itemprop="description">Агентство по рекламе, маркетингу и продвижению в интернете</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="forms">
      <div class="container-fluid">
        <h3 class="b-title">Оставьте заявку, мы приедем и ответим на возникшие вопросы лично</h3>
        <div class="form-flex">
          <div class="forms__img wow bounceInLeft" data-wow-delay="0.5s">                  
            <picture>
              <source type="image/webp" srcset="images/webp/map.webp">
              <source type="image/png" srcset="images/map.png"><img src="images/map.png" alt="">
            </picture>
          </div>
          <div class="forms__right wow bounceInRight" data-wow-delay="0.5s"> 
            <form class="b-form" action="file">
              <input class="b-form__input" type="text" placeholder="Ваше имя">
              <input class="b-form__input" type="tel" placeholder="Номер телефона">
              <input class="b-form__input" type="email" placeholder="E-mail">
              <button class="b-form__button">НАЗНАЧИТЬ ВСТРЕЧУ</button>
            </form>
            <div class="politic">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c <a href="">Политикой Конфиденциальности</a></div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container-fluid">
        <div class="footer-container"><a class="logo" href=""><img src="images/logo.svg" alt=""/></a>
          <nav class="menu menu--footer"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a><a class="menu__link" href="">«Под ключ»</a></nav><a class="h-phone h-phone--strong" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
        <div class="footer-info">
          <div class="company-info">© 2018 <br>ИП Маслов Дмитрий Валерьевич<br>ОГРНИП 314503420200018<br>г. Москва, ул. Южнопортовая, 5c7</div>
          <div class="f-i-right"><a class="footer-email" href="mailto:customers@web-beri.ru">customers@web-beri.ru</a><a class="politic-footer" href="">Пользовательское соглашение</a></div>
        </div>
      </div>
    </footer>
    <script src="js/libs.min.js"></script>
    <script src="js/script.js">       </script>
  </body>
</html>

app/page/contacts.pug
extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/conctacts/conctacts.pug


block title
    +head('Контакты')
block pagecontent
    +header
    +conctacts
    section.forms
        .container-fluid
            h3.b-title Оставьте заявку, мы приедем и ответим на возникшие вопросы лично
            .form-flex
                .forms__img(class="wow bounceInLeft" data-wow-delay="0.5s")                   
                    picture
                        source(type="image/webp" srcset="images/webp/map.webp")
                        source(type="image/png" srcset="images/map.png")
                        img(src="images/map.png", alt="")
                .forms__right(class="wow bounceInRight" data-wow-delay="0.5s") 
                    form(action="file").b-form
                        input(type="text"  placeholder="Ваше имя").b-form__input
                        input(type="tel"  placeholder="Номер телефона").b-form__input
                        input(type="email"  placeholder="E-mail").b-form__input
                        button.b-form__button НАЗНАЧИТЬ ВСТРЕЧУ
                    .politic Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                        a(href="") Политикой Конфиденциальности
    +footer
