dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="Описание"/>
    <link rel="apple-touch-icon" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Главная страница</title>
    <link rel="stylesheet" href="style/libs.min.css"/>
    <link rel="stylesheet" href="style/main.css"/>
  </head>
  <body>
    <div class="block-index"> 
      <header class="header">
        <div class="container-fluid">
          <div class="menu_open"> 
            <div class="menu_open__text">Меню</div>
            <button class="menu_open__button"><span></span><span></span><span></span></button>
          </div>
          <div class="header-container"><a class="logo" href=""></a>
            <nav class="menu"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a></nav><a class="h-phone" href="tel:+74996477892">+7 (499) 647-78-92</a>
          </div>
        </div>
      </header>
      <div class="container-fluid">
        <div class="b-index-main">
          <div class="b-index-main__lft wow fadeInLeft" data-wow-delay="0.5s">
            <h1>ПОДНИМЕМ ПРОДАЖИ ИЛИ ВЕРНЕМ ДЕНЬГИ ОБРАТНО</h1>
            <div class="title-desc">Агентство по рекламе, маркетингу и продвижению в интернете</div><a class="tn-atom" href="">СМОТРЕТЬ ПОРТФОЛИО</a>
          </div>
          <div class="b-index-main__img wow fadeInRight" data-wow-delay="0.5s">
            <picture>
              <source type="image/webp" srcset="images/webp/home.webp"/>
              <source type="image/png" srcset="images/home.png"/><img src="images/home.png" alt=""/>
            </picture>
          </div>
        </div>
        <div class="info-advantages">
          <div class="advantages wow fadeInUp" data-wow-delay="0.5s">
            <div class="advantages__number">99%</div><span>Успешных проектов</span>
          </div>
          <div class="advantages wow fadeInUp" data-wow-delay="0.5s">
            <div class="advantages__number">175%</div><span>Средний ROI более 175%</span>
          </div>
          <div class="advantages wow fadeInUp" data-wow-delay="0.5s">
            <div class="advantages__number">8</div><span>Статус PRO в 8 нишах</span>
          </div>
        </div>
      </div>
    </div>
    <section class="what-do-index">
      <div class="container-fluid">
        <h3 class="title">Что делаем?</h3>
        <div class="t-desc">Мы приводим вам клиентов из поисковиков и социальных сетей</div>
        <div class="what-me-list row">
          <div class="col-lg-4 col-md-12">
            <div class="what-me">
              <div class="what-me__icon wow fadeInUp" data-wow-delay="0.2s"><img src="images/icon_3.svg" alt=""/></div>
              <div class="what-me__title wow fadeInUp" data-wow-delay="0.2s">Контекстная реклама</div>
              <p class="wow fadeInUp" data-wow-delay="0.2s">Ваши услуги и товары ищут прямо сейчас. Уже на следующий день после запуска рекламы вы начнете получать клиентов.</p>
              <div class="what-me__price wow fadeInUp" data-wow-delay="0.2s">от 30 000 руб/мес</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="what-me">
              <div class="what-me__icon wow fadeInUp" data-wow-delay="0.2s"><img src="images/icon_2.svg" alt=""/></div>
              <div class="what-me__title wow fadeInUp" data-wow-delay="0.2s">SEO</div>
              <p class="wow fadeInUp" data-wow-delay="0.2s">Получать множество клиентов из Яндекса и Гугл и не платить за каждый клик. Самые эффективные и быстрые методики продвижения.</p>
              <div class="what-me__price wow fadeInUp" data-wow-delay="0.2s">от 45 000 руб/мес</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="what-me">
              <div class="what-me__icon wow fadeInUp" data-wow-delay="0.2s"><img src="images/icon_1.svg" alt=""/></div>
              <div class="what-me__title wow fadeInUp" data-wow-delay="0.2s">SMM</div>
              <p class="wow fadeInUp" data-wow-delay="0.2s">Вы начнете дружить с вашими клиентами в социальных сетях. Рассказывать о себе и влюблять в свой продукт. Как итог, увеличение продаж.</p>
              <div class="what-me__price wow fadeInUp" data-wow-delay="0.2s">от 40 000 руб/мес</div>
            </div>
          </div>
          <div class="mb-4 col-12"></div>
          <div class="col-12 d-flex justify-content-center"><a class="tn-atom" href="">Подробнее</a></div>
        </div>
      </div>
    </section>
    <section class="index-project">
      <div class="container-fluid">
        <h3 class="title title--index-project">Наши проекты</h3>
        <div class="project-list">
          <div class="project">
            <div class="project__info">
              <h4 class="project__name wow fadeInLeft" data-wow-delay="0.5s"><span>Кейс CMD&nbsp;- медцентр и&nbsp;лаборатория</span></h4>
              <div class="project__img wow fadeInLeft" data-wow-delay="1s">
                <picture>
                  <source type="image/webp" srcset="images/webp/cmd.webp"/>
                  <source type="image/jpeg" srcset="images/cmd.jpg"/><img src="images/cmd.jpg" alt=""/>
                </picture>
              </div>
            </div>
            <div class="project__desc">
              <div class="project__title wow fadeInRight" data-wow-delay="0.5s">Как запустить медцентр и лабораторию, обеспечив полную запись?</div>
              <div class="project__works wow fadeInRight" data-wow-delay="0.9s">
                <div class="project__work"><strong>Что делали: </strong><span>дизайн и упаковка услуг, разработка сайта, запуск рекламных кампаний, SEO-продвижение.</span></div>
                <div class="project__work"><strong>Задачи: </strong><span>обеспечить приток пациентов в клинику, достичь высокие показатели конверсии, уменьшить стоимость привлечения клиентов.</span></div>
                <div class="project__work"><strong>Когда работали:  </strong><span>2018 г. — настоящее время</span></div>
                <div class="project__work"><strong>Результаты: </strong><span>конверсия сайта на уровне 4-5%, стоимость привлечения клиента 450-500 руб, обеспечение полной записи медцентра.</span></div>
              </div><a class="tn-atom tn-atom--project wow fadeInLeft" href="" data-wow-delay="1.5s">СМОТРЕТЬ ПОДРОБНЕЕ</a>
            </div>
          </div>
          <div class="project project--voya-zemlya">
            <div class="project__info">
              <h4 class="project__name wow fadeInRight" data-wow-delay="0.5s"><span>Самый земельный проект</span></h4>
              <div class="project__img wow fadeInRight" data-wow-delay="1s">
                <picture>
                  <source type="image/webp" srcset="images/webp/svoya-zemlya.webp"/>
                  <source type="image/jpeg" srcset="images/svoya-zemlya.jpg"/><img src="images/svoya-zemlya.jpg" alt=""/>
                </picture>
              </div>
            </div>
            <div class="project__desc">
              <div class="project__title wow fadeInLeft" data-wow-delay="0.5s">«Своя Земля»</div>
              <div class="project__works wow fadeInLeft" data-wow-delay="0.9s">
                <div class="project__work"><strong>Что делали: </strong><span>анализ рынка, выбор рекламных стратегий, контекстная реклама</span></div>
                <div class="project__work"><strong>Задачи: </strong><span>увеличить продажи земельных участков</span></div>
                <div class="project__work"><strong>Когда работали:  </strong><span>2016 г. — 2017 г.</span></div>
                <div class="project__work"><strong>Результаты: </strong><span>на 2-й месяц работы мы вышли на запланированную стоимость лида, отсеяв все неэффективные кампании и запросы.</span></div>
              </div><a class="tn-atom tn-atom--project wow fadeInRight" href="" data-wow-delay="1s">СМОТРЕТЬ ПОДРОБНЕЕ  </a>
            </div>
          </div>
          <div class="project project--pd">
            <div class="project__info">
              <h4 class="project__name wow fadeInLeft" data-wow-delay="0.5s"><span>Самый масштабный проект</span></h4>
              <div class="project__img wow fadeInLeft" data-wow-delay="1s">
                <picture>
                  <source type="image/webp" srcset="images/webp/pd.webp"/>
                  <source type="image/jpeg" srcset="images/pd.jpg"/><img src="images/pd.jpg" alt=""/>
                </picture>
              </div>
            </div>
            <div class="project__desc wow fadeInRight" data-wow-delay="0.9s">
              <div class="project__title wow fadeInRight" data-wow-delay="0.5s"> «Prima Donna»</div>
              <div class="project__works">
                <div class="project__work"><strong>Что делали: </strong><span>анализ рынка, выбор стратегии, посадочные страницы, контекстная и таргетированная реклама.</span></div>
                <div class="project__work"><strong>Задачи: </strong><span>Привести покупателей в оффлайн магазины через интернет.</span></div>
                <div class="project__work"><strong>Когда работали:  </strong><span>2017 г. — настоящее время</span></div>
                <div class="project__work"><strong>Результаты: </strong><span>Уже на следующий месяц после запуска рекламы мы получили 821 заявку на сертификат только через форму на лэндингах.</span></div>
              </div><a class="tn-atom tn-atom--project wow fadeInLeft" href="" data-wow-delay="1s">СМОТРЕТЬ ПОДРОБНЕЕ</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="clients">
      <div class="container-fluid">
        <div class="swiper-button-next"></div>
        <div class="client-slider swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"> 
              <picture>
                <source type="image/webp" srcset="images/webp/slider/1.webp"/>
                <source type="image/jpeg" srcset="images/slider/1.jpg"/><img src="images/slider/1.jpg" alt=""/>
              </picture>
            </div>
            <div class="swiper-slide"> 
              <picture>
                <source type="image/webp" srcset="images/webp/slider/2.webp"/>
                <source type="image/jpeg" srcset="images/slider/2.jpg"/><img src="images/slider/2.jpg" alt=""/>
              </picture>
            </div>
            <div class="swiper-slide"> 
              <picture>
                <source type="image/webp" srcset="images/webp/slider/3.webp"/>
                <source type="image/jpeg" srcset="images/slider/3.jpg"/><img src="images/slider/3.jpg" alt=""/>
              </picture>
            </div>
            <div class="swiper-slide"> 
              <picture>
                <source type="image/webp" srcset="images/webp/slider/4.webp"/>
                <source type="image/jpeg" srcset="images/slider/4.jpg"/><img src="images/slider/4.jpg" alt=""/>
              </picture>
            </div>
            <div class="swiper-slide"> 
              <picture>
                <source type="image/webp" srcset="images/webp/slider/5.webp"/>
                <source type="image/jpeg" srcset="images/slider/5.jpg"/><img src="images/slider/5.jpg" alt=""/>
              </picture>
            </div>
            <div class="swiper-slide"> 
              <picture>
                <source type="image/webp" srcset="images/webp/slider/6.webp"/>
                <source type="image/jpeg" srcset="images/slider/6.jpg"/><img src="images/slider/6.jpg" alt=""/>
              </picture>
            </div>
            <div class="swiper-slide"> 
              <picture>
                <source type="image/webp" srcset="images/webp/slider/7.webp"/>
                <source type="image/jpeg" srcset="images/slider/7.jpg"/><img src="images/slider/7.jpg" alt=""/>
              </picture>
            </div>
            <div class="swiper-slide"> 
              <picture>
                <source type="image/webp" srcset="images/webp/slider/8.webp"/>
                <source type="image/jpeg" srcset="images/slider/8.jpg"/><img src="images/slider/8.jpg" alt=""/>
              </picture>
            </div>
            <div class="swiper-slide"> 
              <picture>
                <source type="image/webp" srcset="images/webp/slider/9.webp"/>
                <source type="image/jpeg" srcset="images/slider/9.jpg"/><img src="images/slider/9.jpg" alt=""/>
              </picture>
            </div>
            <div class="swiper-slide"> 
              <picture>
                <source type="image/webp" srcset="images/webp/slider/10.webp"/>
                <source type="image/jpeg" srcset="images/slider/10.jpg"/><img src="images/slider/10.jpg" alt=""/>
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="show_pr"><a class="tn-atom tn-atom--clients" href="">ПОСМОТРЕТЬ ВСЕ ПРОЕКТЫ</a></div>
      </div>
    </div>
    <section class="forms">
      <div class="container-fluid">
        <h3 class="b-title">Оставьте заявку на расчет вашего проекта и получение коммерческого предложения</h3>
        <div class="form-flex">
          <div class="forms__img wow bounceInLeft" data-wow-delay="0.5s">                  
            <picture>
              <source type="image/webp" srcset="images/webp/dashboard.webp">
              <source type="image/png" srcset="images/dashboard.png"><img src="images/dashboard.png" alt="">
            </picture>
          </div>
          <div class="forms__right wow bounceInRight" data-wow-delay="0.5s"> 
            <form class="b-form" action="file">
              <input class="b-form__input" type="text" placeholder="Ваше имя">
              <input class="b-form__input" type="tel" placeholder="Номер телефона">
              <input class="b-form__input" type="email" placeholder="E-mail">
              <button class="b-form__button">НАЗНАЧИТЬ ВСТРЕЧУ</button>
            </form>
            <div class="politic">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c <a href="">Политикой Конфиденциальности    </a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="me-jobs">
      <div class="container-fluid">  
        <h3 class="title">Как мы работаем</h3>
        <div class="step-list">
          <div class="step-job wow fadeInUp" data-wow-delay="0.2s"> 
            <div class="step-job__images">  <img src="images/1.svg" alt=""/></div>
            <div class="step-job__desc">
              <div class="step-job__name">Слушаем</div>
              <div class="step-job__text">Мы задаем вопросы, слушаем вас и понимаем ваши задачи.</div>
            </div>
          </div>
          <div class="step-job wow fadeInUp" data-wow-delay="0.4s"> 
            <div class="step-job__images">  <img src="images/2.svg" alt=""/></div>
            <div class="step-job__desc">
              <div class="step-job__name">Анализируем</div>
              <div class="step-job__text">Анализируем продукт, целевую аудиторию и ваших конкурентов.</div>
            </div>
          </div>
          <div class="step-job wow fadeInUp" data-wow-delay="0.6s"> 
            <div class="step-job__images">  <img src="images/3.svg" alt=""/></div>
            <div class="step-job__desc">
              <div class="step-job__name">Контролируем</div>
              <div class="step-job__text">Мы контролируем рекламные кампании по 78 пунктам в CRM-системе собственной разработки.</div>
            </div>
          </div>
          <div class="step-job wow fadeInUp" data-wow-delay="0.8s"> 
            <div class="step-job__images">  <img src="images/4.svg" alt=""/></div>
            <div class="step-job__desc">
              <div class="step-job__name">Отчитываемся</div>
              <div class="step-job__text">Мы ежемесячно предоставляем понятные отчеты с подробной аналитикой рекламных кампаний и описанием всех работ по проекту.</div>
            </div>
          </div>
          <div class="step-job wow fadeInUp" data-wow-delay="1.0s"> 
            <div class="step-job__images">  <img src="images/5.svg" alt=""/></div>
            <div class="step-job__desc">
              <div class="step-job__name">Успеваем</div>
              <div class="step-job__text">Мы прописываем сроки работ в договоре и своевременно их исполняем</div>
            </div>
          </div>
          <div class="step-job wow fadeInUp" data-wow-delay="1.2s"> 
            <div class="step-job__images">  <img src="images/6.svg" alt=""/></div>
            <div class="step-job__desc">
              <div class="step-job__name">Вы в тренде</div>
              <div class="step-job__text">Вы всегда в курсе всех новостей в области интернет маркетинга: последние тренды, новые рекламные инструменты и рабочие методики.</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="command">
      <div class="container-fluid">
        <h3 class="title">Наша команда</h3>
        <div class="command-list row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="member__face">
                <picture>
                  <source type="image/webp" srcset="images/webp/face/01.webp"/>
                  <source type="image/jpeg" srcset="images/face/01.jpg"/><img src="images/face/01.jpg" alt=""/>
                </picture>
              </div>
              <div class="member__name">Дмитрий Маслов</div>
              <div class="member__position">Руководитель</div>
              <div class="member__text">Разработка стратегий, управление проектами, комплексная аналитика</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="member__face">
                <picture>
                  <source type="image/webp" srcset="images/webp/face/02.webp"/>
                  <source type="image/jpeg" srcset="images/face/02.jpg"/><img src="images/face/02.jpg" alt=""/>
                </picture>
              </div>
              <div class="member__name">Георгий Мотренко</div>
              <div class="member__position">SMM-специалист</div>
              <div class="member__text">Таргетинговая реклама и ведение соцсетей</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="member__face">
                <picture>
                  <source type="image/webp" srcset="images/webp/face/03.webp"/>
                  <source type="image/jpeg" srcset="images/face/03.jpg"/><img src="images/face/03.jpg" alt=""/>
                </picture>
              </div>
              <div class="member__name">Валерия</div>
              <div class="member__position">Контекстная реклама</div>
              <div class="member__text">Ведение рекламных кампаний, аудит контекста, аналитика</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="member__face">
                <picture>
                  <source type="image/webp" srcset="images/webp/face/04.webp"/>
                  <source type="image/jpeg" srcset="images/face/04.jpg"/><img src="images/face/04.jpg" alt=""/>
                </picture>
              </div>
              <div class="member__name">Бибигуль Омарова</div>
              <div class="member__position">Веб-дизайнер</div>
              <div class="member__text">Проектирование и дизайн сайтов</div>
            </div>
          </div>
          <div class="mb-4 col-12"></div>
          <div class="col-12 d-flex justify-content-center"><a class="tn-atom" href="">Подробнее                        </a></div>
        </div>
        <div class="reason-list">
          <div class="reason wow fadeInLeft" data-wow-delay="0.5s"> 
            <div class="reason__img"><img src="images/exit.png" alt=""/></div>
            <div class="reason__desc">  
              <div class="reason__title">Обычная практика других компаний:</div>
              <ul class="reason__list">
                <li>Присылать вам сложные брифы;</li>
                <li>Говорить непонятными словами;</li>
                <li>Не укладываться в сроки;</li>
                <li>Делать свою работу поверхностно;</li>
              </ul>
            </div>
          </div>
          <div class="reason wow fadeInRight" data-wow-delay="0.5s"> 
            <div class="reason__img"><img src="images/chek.png" alt=""/></div>
            <div class="reason__desc">  
              <div class="reason__title">4 причины выбрать именно нас:</div>
              <ul class="reason__list reason__list--green">
                <li>Мы сами заполняем все брифы;</li>
                <li>Все термины объясняем простым языком;</li>
                <li>Сдаем вовремя каждый этап проекта;</li>
                <li>Мы погрузимся в ваш бизнес и продукт, изучим ваших клиентов;</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="forms">
      <div class="container-fluid">
        <h3 class="b-title">Оставьте заявку, мы приедем и ответим на возникшие вопросы лично</h3>
        <div class="form-flex">
          <div class="forms__img wow bounceInLeft" data-wow-delay="0.5s">                  
            <picture>
              <source type="image/webp" srcset="images/webp/map.webp">
              <source type="image/png" srcset="images/map.png"><img src="images/map.png" alt="">
            </picture>
          </div>
          <div class="forms__right wow bounceInRight" data-wow-delay="0.5s"> 
            <form class="b-form" action="file">
              <input class="b-form__input" type="text" placeholder="Ваше имя">
              <input class="b-form__input" type="tel" placeholder="Номер телефона">
              <input class="b-form__input" type="email" placeholder="E-mail">
              <button class="b-form__button">НАЗНАЧИТЬ ВСТРЕЧУ</button>
            </form>
            <div class="politic">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c <a href="">Политикой Конфиденциальности</a></div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container-fluid">
        <div class="footer-container"><a class="logo" href=""><img src="images/logo.svg" alt=""/></a>
          <nav class="menu menu--footer"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a><a class="menu__link" href="">«Под ключ»</a></nav><a class="h-phone h-phone--strong" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
        <div class="footer-info">
          <div class="company-info">© 2018 <br>ИП Маслов Дмитрий Валерьевич<br>ОГРНИП 314503420200018<br>г. Москва, ул. Южнопортовая, 5c7</div>
          <div class="f-i-right"><a class="footer-email" href="mailto:customers@web-beri.ru">customers@web-beri.ru</a><a class="politic-footer" href="">Пользовательское соглашение</a></div>
        </div>
      </div>
    </footer>
    <script src="js/libs.min.js"></script>
    <script src="js/script.js">       </script>
  </body>
</html>

app/page/index.pug
extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/block-index/block-index.pug
include ../blocks/what-do-index/what-do-index.pug
include ../blocks/index-project/index-project.pug
include ../blocks/client-slider/client-slider.pug
include ../blocks/me-jobs/me-jobs.pug
include ../blocks/command/command.pug

block title
    +head('Главная страница')
block pagecontent
    +block-index
    +what-do-index
    +index-project
    +client-slider

    section.forms
        .container-fluid
            h3.b-title Оставьте заявку на расчет вашего проекта и получение коммерческого предложения
            .form-flex
                .forms__img(class="wow bounceInLeft" data-wow-delay="0.5s")                   
                    picture
                        source(type="image/webp" srcset="images/webp/dashboard.webp")
                        source(type="image/png" srcset="images/dashboard.png")
                        img(src="images/dashboard.png", alt="")
                .forms__right(class="wow bounceInRight" data-wow-delay="0.5s") 
                    form(action="file").b-form
                        input(type="text"  placeholder="Ваше имя").b-form__input
                        input(type="tel"  placeholder="Номер телефона").b-form__input
                        input(type="email"  placeholder="E-mail").b-form__input
                        button.b-form__button НАЗНАЧИТЬ ВСТРЕЧУ
                    .politic Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                        a(href="") Политикой Конфиденциальности    
    +me-jobs
    +command
    section.forms
        .container-fluid
            h3.b-title Оставьте заявку, мы приедем и ответим на возникшие вопросы лично
            .form-flex
                .forms__img(class="wow bounceInLeft" data-wow-delay="0.5s")                   
                    picture
                        source(type="image/webp" srcset="images/webp/map.webp")
                        source(type="image/png" srcset="images/map.png")
                        img(src="images/map.png", alt="")
                .forms__right(class="wow bounceInRight" data-wow-delay="0.5s") 
                    form(action="file").b-form
                        input(type="text"  placeholder="Ваше имя").b-form__input
                        input(type="tel"  placeholder="Номер телефона").b-form__input
                        input(type="email"  placeholder="E-mail").b-form__input
                        button.b-form__button НАЗНАЧИТЬ ВСТРЕЧУ
                    .politic Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c 
                        a(href="") Политикой Конфиденциальности
  
    +footer
