dist/services.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="Описание"/>
    <link rel="apple-touch-icon" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Услуги</title>
    <link rel="stylesheet" href="style/libs.min.css"/>
    <link rel="stylesheet" href="style/main.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container-fluid">
        <div class="menu_open"> 
          <div class="menu_open__text">Меню</div>
          <button class="menu_open__button"><span></span><span></span><span></span></button>
        </div>
        <div class="header-container"><a class="logo" href=""></a>
          <nav class="menu"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a></nav><a class="h-phone" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
      </div>
    </header>
    <section class="what-do-index">
      <div class="container-fluid">
        <h3 class="title">Что делаем?</h3>
        <div class="t-desc">Мы приводим вам клиентов из поисковиков и социальных сетей</div>
        <div class="what-me-list row">
          <div class="col-lg-4 col-md-12">
            <div class="what-me">
              <div class="what-me__icon wow fadeInUp" data-wow-delay="0.2s"><img src="images/icon_3.svg" alt=""/></div>
              <div class="what-me__title wow fadeInUp" data-wow-delay="0.2s">Контекстная реклама</div>
              <p class="wow fadeInUp" data-wow-delay="0.2s">Ваши услуги и товары ищут прямо сейчас. Уже на следующий день после запуска рекламы вы начнете получать клиентов.</p>
              <div class="what-me__price wow fadeInUp" data-wow-delay="0.2s">от 30 000 руб/мес</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="what-me">
              <div class="what-me__icon wow fadeInUp" data-wow-delay="0.2s"><img src="images/icon_2.svg" alt=""/></div>
              <div class="what-me__title wow fadeInUp" data-wow-delay="0.2s">SEO</div>
              <p class="wow fadeInUp" data-wow-delay="0.2s">Получать множество клиентов из Яндекса и Гугл и не платить за каждый клик. Самые эффективные и быстрые методики продвижения.</p>
              <div class="what-me__price wow fadeInUp" data-wow-delay="0.2s">от 45 000 руб/мес</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="what-me">
              <div class="what-me__icon wow fadeInUp" data-wow-delay="0.2s"><img src="images/icon_1.svg" alt=""/></div>
              <div class="what-me__title wow fadeInUp" data-wow-delay="0.2s">SMM</div>
              <p class="wow fadeInUp" data-wow-delay="0.2s">Вы начнете дружить с вашими клиентами в социальных сетях. Рассказывать о себе и влюблять в свой продукт. Как итог, увеличение продаж.</p>
              <div class="what-me__price wow fadeInUp" data-wow-delay="0.2s">от 40 000 руб/мес</div>
            </div>
          </div>
          <div class="mb-4 col-12"></div>
          <div class="col-12 d-flex justify-content-center"><a class="tn-atom" href="">Подробнее</a></div>
        </div>
      </div>
    </section>
    <section class="case-content">
      <div class="container-fluid">
        <div class="row">
          <div class="offset-md-1 col-md-10">
            <div class="wow fadeInLeft mb-5" data-wow-delay="0.8s">
              <h6 class="case-subtitle">Упаковка и фирменный стиль</h6>
              <p>Упаковка и фирменный стильИсходя из анализа аудитории, мы решили, что основой нашего сайта будут ответы на вопросы наших будущих пациентов. Мы не будем давать справочную информацию, только смыслы. Наша задача ответить на все вопросы пациента, построить с ним диалог. Показать, что мы знаем о его сомнениях. Его реакция должна быть такая: "Тут есть все, что меня интересовало. Это то, что мне надо!"</p>
              <p>Для фирменного стиля было решено выбрать основные цвета бренда. Акцент сделали на смыслах. Задача дизайна: провести пользователя по заранее спланированному сценарию и разобрать его вопросы и проблему выбора.</p>
              <p>Мы собрали набор конкурентных преимуществ, выбирая подходящие для запросов и услуг.</p>
              <div class="link-client">Ссылка на сайт <a href="">CMD Чехов</a></div>
            </div>
            <div class="wow fadeInLeft mb-5" data-wow-delay="0.8s">
              <h6 class="case-subtitle">Упаковка и фирменный стиль</h6>
              <p>Упаковка и фирменный стильИсходя из анализа аудитории, мы решили, что основой нашего сайта будут ответы на вопросы наших будущих пациентов. Мы не будем давать справочную информацию, только смыслы. Наша задача ответить на все вопросы пациента, построить с ним диалог. Показать, что мы знаем о его сомнениях. Его реакция должна быть такая: "Тут есть все, что меня интересовало. Это то, что мне надо!"</p>
              <p>Для фирменного стиля было решено выбрать основные цвета бренда. Акцент сделали на смыслах. Задача дизайна: провести пользователя по заранее спланированному сценарию и разобрать его вопросы и проблему выбора.</p>
              <p>Мы собрали набор конкурентных преимуществ, выбирая подходящие для запросов и услуг.</p>
              <div class="link-client">Ссылка на сайт <a href="">CMD Чехов</a></div>
            </div>
            <div class="wow fadeInLeft mb-5" data-wow-delay="0.8s">
              <h6 class="case-subtitle">Упаковка и фирменный стиль</h6>
              <p>Упаковка и фирменный стильИсходя из анализа аудитории, мы решили, что основой нашего сайта будут ответы на вопросы наших будущих пациентов. Мы не будем давать справочную информацию, только смыслы. Наша задача ответить на все вопросы пациента, построить с ним диалог. Показать, что мы знаем о его сомнениях. Его реакция должна быть такая: "Тут есть все, что меня интересовало. Это то, что мне надо!"</p>
              <p>Для фирменного стиля было решено выбрать основные цвета бренда. Акцент сделали на смыслах. Задача дизайна: провести пользователя по заранее спланированному сценарию и разобрать его вопросы и проблему выбора.</p>
              <p>Мы собрали набор конкурентных преимуществ, выбирая подходящие для запросов и услуг.</p>
              <div class="link-client">Ссылка на сайт <a href="">CMD Чехов</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container-fluid">
        <div class="footer-container"><a class="logo" href=""><img src="images/logo.svg" alt=""/></a>
          <nav class="menu menu--footer"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a><a class="menu__link" href="">«Под ключ»</a></nav><a class="h-phone h-phone--strong" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
        <div class="footer-info">
          <div class="company-info">© 2018 <br>ИП Маслов Дмитрий Валерьевич<br>ОГРНИП 314503420200018<br>г. Москва, ул. Южнопортовая, 5c7</div>
          <div class="f-i-right"><a class="footer-email" href="mailto:customers@web-beri.ru">customers@web-beri.ru</a><a class="politic-footer" href="">Пользовательское соглашение</a></div>
        </div>
      </div>
    </footer>
    <script src="js/libs.min.js"></script>
    <script src="js/script.js">       </script>
  </body>
</html>

app/page/services.pug
extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/block-index/block-index.pug
include ../blocks/what-do-index/what-do-index.pug
include ../blocks/index-project/index-project.pug
include ../blocks/client-slider/client-slider.pug
include ../blocks/me-jobs/me-jobs.pug
include ../blocks/command/command.pug

block title
    +head('Услуги')
block pagecontent
    +header
    +what-do-index
    section.case-content
        .container-fluid
            .row
                .offset-md-1.col-md-10
                    div(class="wow fadeInLeft mb-5" data-wow-delay="0.8s")
                        h6.case-subtitle Упаковка и фирменный стиль
                        p Упаковка и фирменный стильИсходя из анализа аудитории, мы решили, что основой нашего сайта будут ответы на вопросы наших будущих пациентов. Мы не будем давать справочную информацию, только смыслы. Наша задача ответить на все вопросы пациента, построить с ним диалог. Показать, что мы знаем о его сомнениях. Его реакция должна быть такая: "Тут есть все, что меня интересовало. Это то, что мне надо!"
                        p Для фирменного стиля было решено выбрать основные цвета бренда. Акцент сделали на смыслах. Задача дизайна: провести пользователя по заранее спланированному сценарию и разобрать его вопросы и проблему выбора.
                        p Мы собрали набор конкурентных преимуществ, выбирая подходящие для запросов и услуг.
                        .link-client Ссылка на сайт 
                            a(href="") CMD Чехов
                    div(class="wow fadeInLeft mb-5" data-wow-delay="0.8s")
                        h6.case-subtitle Упаковка и фирменный стиль
                        p Упаковка и фирменный стильИсходя из анализа аудитории, мы решили, что основой нашего сайта будут ответы на вопросы наших будущих пациентов. Мы не будем давать справочную информацию, только смыслы. Наша задача ответить на все вопросы пациента, построить с ним диалог. Показать, что мы знаем о его сомнениях. Его реакция должна быть такая: "Тут есть все, что меня интересовало. Это то, что мне надо!"
                        p Для фирменного стиля было решено выбрать основные цвета бренда. Акцент сделали на смыслах. Задача дизайна: провести пользователя по заранее спланированному сценарию и разобрать его вопросы и проблему выбора.
                        p Мы собрали набор конкурентных преимуществ, выбирая подходящие для запросов и услуг.
                        .link-client Ссылка на сайт 
                            a(href="") CMD Чехов
                    div(class="wow fadeInLeft mb-5" data-wow-delay="0.8s")
                        h6.case-subtitle Упаковка и фирменный стиль
                        p Упаковка и фирменный стильИсходя из анализа аудитории, мы решили, что основой нашего сайта будут ответы на вопросы наших будущих пациентов. Мы не будем давать справочную информацию, только смыслы. Наша задача ответить на все вопросы пациента, построить с ним диалог. Показать, что мы знаем о его сомнениях. Его реакция должна быть такая: "Тут есть все, что меня интересовало. Это то, что мне надо!"
                        p Для фирменного стиля было решено выбрать основные цвета бренда. Акцент сделали на смыслах. Задача дизайна: провести пользователя по заранее спланированному сценарию и разобрать его вопросы и проблему выбора.
                        p Мы собрали набор конкурентных преимуществ, выбирая подходящие для запросов и услуг.
                        .link-client Ссылка на сайт 
                            a(href="") CMD Чехов
    +footer
