app/team.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="Описание"/>
    <link rel="apple-touch-icon" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Команда</title>
    <link rel="stylesheet" href="style/libs.min.css"/>
    <link rel="stylesheet" href="style/main.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container-fluid">
        <div class="menu_open"> 
          <div class="menu_open__text">Меню</div>
          <button class="menu_open__button"><span></span><span></span><span></span></button>
        </div>
        <div class="header-container"><a class="logo" href=""></a>
          <nav class="menu"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a></nav><a class="h-phone" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
      </div>
    </header>
    <section class="command">
      <div class="container-fluid">
        <h1 class="title">Наша команда</h1>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="member__face">
                <picture>
                  <source type="image/webp" srcset="images/webp/face/01.webp">
                  <source type="image/jpeg" srcset="images/face/01.jpg"><img src="images/face/01.jpg" alt="">
                </picture>
              </div>
              <div class="member__name">Дмитрий Маслов</div>
              <div class="member__position">Руководитель</div>
              <div class="member__text">Разработка стратегий, управление проектами, комплексная аналитика</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="member__face">
                <picture>
                  <source type="image/webp" srcset="images/webp/face/02.webp">
                  <source type="image/jpeg" srcset="images/face/02.jpg"><img src="images/face/02.jpg" alt="">
                </picture>
              </div>
              <div class="member__name">Георгий Мотренко</div>
              <div class="member__position">SMM-специалист</div>
              <div class="member__text">Таргетинговая реклама и ведение соцсетей</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="member__face">
                <picture>
                  <source type="image/webp" srcset="images/webp/face/03.webp">
                  <source type="image/jpeg" srcset="images/face/03.jpg"><img src="images/face/03.jpg" alt="">
                </picture>
              </div>
              <div class="member__name">Валерия</div>
              <div class="member__position">Контекстная реклама</div>
              <div class="member__text">Ведение рекламных кампаний, аудит контекста, аналитика</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="member__face">
                <picture>
                  <source type="image/webp" srcset="images/webp/face/04.webp">
                  <source type="image/jpeg" srcset="images/face/04.jpg"><img src="images/face/04.jpg" alt="">
                </picture>
              </div>
              <div class="member__name">Бибигуль Омарова</div>
              <div class="member__position">Веб-дизайнер</div>
              <div class="member__text">Проектирование и дизайн сайтов</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="member__face">
                <picture>
                  <source type="image/webp" srcset="images/webp/face/04.webp">
                  <source type="image/jpeg" srcset="images/face/04.jpg"><img src="images/face/04.jpg" alt="">
                </picture>
              </div>
              <div class="member__name">Бибигуль Омарова</div>
              <div class="member__position">Веб-дизайнер</div>
              <div class="member__text">Проектирование и дизайн сайтов</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="member__face">
                <picture>
                  <source type="image/webp" srcset="images/webp/face/04.webp">
                  <source type="image/jpeg" srcset="images/face/04.jpg"><img src="images/face/04.jpg" alt="">
                </picture>
              </div>
              <div class="member__name">Бибигуль Омарова</div>
              <div class="member__position">Веб-дизайнер</div>
              <div class="member__text">Проектирование и дизайн сайтов</div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="member__face">
                <picture>
                  <source type="image/webp" srcset="images/webp/face/04.webp">
                  <source type="image/jpeg" srcset="images/face/04.jpg"><img src="images/face/04.jpg" alt="">
                </picture>
              </div>
              <div class="member__name">Бибигуль Омарова</div>
              <div class="member__position">Веб-дизайнер</div>
              <div class="member__text">Проектирование и дизайн сайтов                                                                        </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="command_desc mb-5">
      <div class="container-fluid">
        <h2 class="title">Описание команды</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptate voluptas eius laudantium eveniet repellat corporis rerum doloremque nemo dolorem debitis incidunt, dolores inventore. Debitis quam et provident cum soluta.Iusto magnam harum, enim tenetur ratione expedita autem et sed sint voluptatibus? Quo voluptatibus a maxime deleniti unde. A iusto dolor officia, rem sequi excepturi earum impedit recusandae dolorem dignissimos!Similique commodi deserunt architecto obcaecati tempore natus modi at sit pariatur, cupiditate ipsum consectetur rerum sunt tenetur accusamus et, nobis voluptates beatae! Unde, odit aspernatur iusto quas ipsum rem adipisci!Quod voluptatibus in perspiciatis voluptatem exercitationem nostrum culpa perferendis necessitatibus repudiandae odit dolorum dignissimos ad fugit dicta, corrupti nisi molestias, laborum qui inventore officia eligendi. Et in iure qui accusantium.Libero eius ipsum pariatur repudiandae nam magni odit! Cupiditate est vitae animi ipsum, suscipit corrupti reprehenderit accusantium officia magnam voluptate nisi veritatis ea cum nemo magni totam molestias quas ab.Tempora odit, doloremque laudantium veritatis voluptates porro officia reprehenderit repellat, voluptatem minus tempore soluta dolor sint, autem quam illo eligendi vel praesentium blanditiis quisquam itaque ab. Rerum omnis expedita porro.Est error incidunt veritatis vel placeat aliquam excepturi cupiditate quam sit earum magnam laborum, possimus recusandae nostrum, cumque non nobis obcaecati praesentium voluptatem. Deserunt non minus quibusdam odit qui ex?Labore harum officiis natus ab voluptatum vel veniam ut laudantium esse veritatis? Aliquid cum sequi explicabo iste nisi libero cupiditate itaque ipsa sint vel laborum, expedita rerum delectus asperiores nihil!Quis nihil minus nam illum impedit enim deleniti aspernatur vero repellat quidem quam aliquid, quos omnis voluptatibus adipisci harum ipsam sed blanditiis. Veritatis ipsum libero tempore voluptatum. Unde, a velit?Facere, veniam sint ratione dolorum animi, quod quas cupiditate maiores, eaque rem quo reprehenderit repudiandae consectetur harum. Quisquam expedita quas at, dolor quos nam accusamus quia amet nostrum unde deserunt.</p>
      </div>
    </section>
    <footer class="footer">
      <div class="container-fluid">
        <div class="footer-container"><a class="logo" href=""><img src="images/logo.svg" alt=""/></a>
          <nav class="menu menu--footer"><a class="menu__link" href="">Что делаем</a><a class="menu__link" href="">Портфолио</a><a class="menu__link" href="">Как работаем</a><a class="menu__link" href="">Команда</a><a class="menu__link" href="">Блог</a><a class="menu__link" href="">«Под ключ»</a></nav><a class="h-phone h-phone--strong" href="tel:+74996477892">+7 (499) 647-78-92</a>
        </div>
        <div class="footer-info">
          <div class="company-info">© 2018 <br>ИП Маслов Дмитрий Валерьевич<br>ОГРНИП 314503420200018<br>г. Москва, ул. Южнопортовая, 5c7</div>
          <div class="f-i-right"><a class="footer-email" href="mailto:customers@web-beri.ru">customers@web-beri.ru</a><a class="politic-footer" href="">Пользовательское соглашение</a></div>
        </div>
      </div>
    </footer>
    <script src="js/libs.min.js"></script>
    <script src="js/script.js">       </script>
  </body>
</html>

app/page/team.pug
extends layout/main.pug

include ../blocks/head/head.pug
include ../blocks/header/header.pug
include ../blocks/footer/footer.pug
include ../blocks/command/command.pug
include ../blocks/command_desc/command_desc.pug

block title
    +head('Команда')
block pagecontent
    +header
    section.command
        .container-fluid
            h1.title Наша команда
            .row
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/01.webp")
                                source(type="image/jpeg" srcset="images/face/01.jpg")               
                                img(src="images/face/01.jpg", alt="")
                        .member__name Дмитрий Маслов
                        .member__position Руководитель
                        .member__text Разработка стратегий, управление проектами, комплексная аналитика
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/02.webp")
                                source(type="image/jpeg" srcset="images/face/02.jpg")               
                                img(src="images/face/02.jpg", alt="")
                        .member__name Георгий Мотренко
                        .member__position SMM-специалист
                        .member__text Таргетинговая реклама и ведение соцсетей
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/03.webp")
                                source(type="image/jpeg" srcset="images/face/03.jpg")               
                                img(src="images/face/03.jpg", alt="")
                        .member__name Валерия
                        .member__position Контекстная реклама
                        .member__text Ведение рекламных кампаний, аудит контекста, аналитика
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/04.webp")
                                source(type="image/jpeg" srcset="images/face/04.jpg")               
                                img(src="images/face/04.jpg", alt="")
                        .member__name Бибигуль Омарова
                        .member__position Веб-дизайнер
                        .member__text Проектирование и дизайн сайтов
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/04.webp")
                                source(type="image/jpeg" srcset="images/face/04.jpg")               
                                img(src="images/face/04.jpg", alt="")
                        .member__name Бибигуль Омарова
                        .member__position Веб-дизайнер
                        .member__text Проектирование и дизайн сайтов
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/04.webp")
                                source(type="image/jpeg" srcset="images/face/04.jpg")               
                                img(src="images/face/04.jpg", alt="")
                        .member__name Бибигуль Омарова
                        .member__position Веб-дизайнер
                        .member__text Проектирование и дизайн сайтов
                .col-lg-3.col-md-6
                    .member
                        .member__face
                            picture
                                source(type="image/webp" srcset="images/webp/face/04.webp")
                                source(type="image/jpeg" srcset="images/face/04.jpg")               
                                img(src="images/face/04.jpg", alt="")
                        .member__name Бибигуль Омарова
                        .member__position Веб-дизайнер
                        .member__text Проектирование и дизайн сайтов                                                                        
    +command_desc
    +footer
