app/404.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="Описание"/>
    <link rel="apple-touch-icon" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>404</title>
    <link rel="stylesheet" href="style/libs.min.css"/>
    <link rel="stylesheet" href="style/main.css"/>
  </head>
  <body>
    <div class="p-404">
      <div class="p-404-main">
        <div class="p-404-h1">404</div>
        <div class="tn-atom-desc">ошибка</div>
        <p><strong>Запрашиваемая Вами страница не найдена :(</strong></p><a class="tn-atom" href="">ВЕРНУТЬСЯ НА ГЛАВНУЮ</a>
      </div>
    </div>
  </body>
</html>

app/blocks/404/404.pug
mixin 404
    .p-404
        .p-404-main
            .p-404-h1 404
            .tn-atom-desc ошибка
            p
                strong Запрашиваемая Вами страница не найдена :(
            a(href="").tn-atom ВЕРНУТЬСЯ НА ГЛАВНУЮ
